<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'partials/title.html' %}
    {% include 'partials/meta.html' %}
    {% include 'partials/styles.html' %}
    {% include 'partials/scripts.html' %}
    {% include 'partials/favicons.html' %}
    {% include 'partials/dev.html' %}
  </head>
  <body data-page="{% block data_page %}{% endblock %}">
    {% include 'partials/background.html' %}
    {% include 'partials/header.html' %}

    <main>
      {% block content %}{% endblock %}
    </main>

    {% include 'partials/footer.html' %}
  </body>
</html>
