{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block data_page %}about{% endblock %}

{% block content %}
<section class="grid">
  <hgroup class="center">
    <h1 id="main">About</h1>
    <p class="balance">
      The following is adapted from the article ‘<a href="https://nightingaledvs.com/the-collaborative-blueprint/" target="_blank">The Collaborative Blueprint</a>’, originally published in <a href="https://nightingaledvs.com/" target="_blank">Nightingale</a> magazine on <time datetime="2026-03">March, 2026</time>
    </p>
  </hgroup>
  
  <article>
    <hgroup>
      <h2>About the Open Visualization Academy</h2>
      <p class="byline"><small>By <span rel="author">Alberto Cairo</span></small></p>
    </hgroup>

    <p>
      Welcome to the Open Visualization Academy (OVA), my free and open library of educational materials on information design and data visualization. If you are reading this, you’re probably already familiar with some of our courses, all of them published under a <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">Creative Commons Attribution-Non Commercial</a> license.
    </p>

    <p>
      In this article I’d like to take you behind the scenes and explain my motivations for creating, funding, and directing the OVA.
    </p>

    <hr>

    <p>
      The idea for the OVA was planted in late 2012. That October, in collaboration with the <a href="https://knightcenter.utexas.edu/" target="_blank">Knight Center at the University of Texas</a>, I launched the <a href="https://knightcenter.utexas.edu/knight-centers-journalism-courses-program-reaches-260000-students-from-around-the-world-in-nine-years/" target="_blank">first journalism Massive Open Online Course</a> (MOOC) in the world. It was titled “Introduction to Infographics and Data Visualization.”
    </p>

    <p>
      It was a low-budget — better said, no-budget — experiment: I recorded all the videos at home, and there was barely any editing or planning. And yet so many people signed up (2,000 in just a few days) that we had to close registration and open a second edition right away, capped at 5,200 students. After that, I kept offering MOOCs until the COVID pandemic hit.
    </p>

    <p>
      Tens of thousands of people from more than a hundred countries have participated in at least one of these massive free courses. To this day, wherever I go — to attend a conference, to give a talk or workshop — I’m approached by at least one person who started their career in visualization, information design, or other data-related fields thanks to these MOOCs.
    </p>

    <p>
      As someone who considers himself first and foremost an educator and popularizer, I can tell you that there are few things in life that feel better than that. I won’t name them here; let your imagination fly.
    </p>

    <p>
      The idea for the OVA reached maturity in 2023, when I was giving the last touches to <a href="https://www.wiley.com/The+Art+of+Insight%3A+How+Great+Visualization+Designers+Think-p-9781119797395" target="_blank"><i>The Art of Insight</i></a>, a book of interviews with designers I admire. While talking to them, I kept asking myself: I’m learning so much in this conversation — wouldn’t it be wonderful to have all these people, and many more, design courses about the topics we’re discussing, and publish them for free on some kind of open, collaborative platform?
    </p>

    <p>
      Therefore, the seed for the OVA was my old MOOCs, and it germinated thanks to my latest book. Also to the fact that I could “water” the seed: as a <a href="https://legacy.knightfoundation.org/employee/alberto-cairo/" target="_blank">Knight Chair</a>, I have a personal annual budget I can use to fund initiatives I believe will be societally beneficial.
    </p>

    <hr>

    <p>
      If you watch any of the courses already available in the OVA, you’ll probably notice that they look pretty different to what you can find in other educational platforms, such as <a href="https://www.coursera.org/" target="_blank">Coursera</a> or <a href="https://www.edx.org/" target="_blank">edX</a>.
    </p>

    <p>
      OVA courses are <em>deliberately</em> scrappier, chattier, and sometimes even contain a bit of rambling. All that is by design. Whenever I talk to a new instructor I give them the following recommendations:
    </p>

    <p>
      <strong>Keep it professional, but not too professional.</strong> I don’t want a sanitized, perfectly polished production. I want a certain and limited amount of imperfection — the kind that signals a real human being on the other side of the screen. In the very first video of <a href="https://openvisualizationacademy.org/courses/introduction-to-information-design-and-data-visualization/understanding-information-design-and-visualization/a-conversation-among-friends/" target="_blank">my own OVA course</a> I say that I profoundly dislike strictly scripted, TED-like canned presentations. I find them soporific.
    </p>

    <p>
      <strong>Keep it rigorous, but also personal.</strong> I ask every collaborator <em>not</em> to be objective. I don’t want view-from-nowhere courses. I’m not interested in, say, a generic ‘Accessibility in Data Visualization’ class; what I do want is <a href="https://www.frank.computer/" target="_blank">Frank Elavsky</a>’s personal take on ‘<a href="https://openvisualizationacademy.org/courses/accessibility-in-data-visualization/introduction/introduction/" target="_blank">Accessibility in Data Visualization</a>’. I want OVA courses to be accurate and rigorous, but also to reflect the convictions, personalities, and quirks of their creators.
    </p>
    
    <p>
      There’s already plenty of content out there that looks and sounds like it was extruded by probabilistic automatons such as ChatGPT or Claude. I want the very opposite of that.
    </p>

    <p>
      <strong>Make students aware that they are about to become part of an expanding community of friends</strong>, which they ought to nurture. At the beginning of my OVA course I explain that I want viewers to feel like they’re sitting with me in my favorite corner at home, surrounded by my tabletop games and my books, sharing a few hours of learning and joy.
    </p>

    <p>
      I’d like OVA viewers to feel like I felt at the beginning of my career, when my mentors at the newspaper that hired me as an intern, <a href="https://www.lavozdegalicia.es/" target="_blank"><i lang="es-es">La Voz de Galicia</i></a>, taught me our craft while letting me watch over their shoulders. Theirs was a rare form of high kindness.
    </p>

    <p>
      The OVA is my way of honoring those early mentors, and many more that I had the luck to cross paths with throughout the past three decades. <a href="https://www.youtube.com/watch?v=88uYh9sWZoY" target="_blank">As I’ve said in recent talks</a>, if you know that you’ve benefitted from other people’s generosity (and who hasn’t?), eventually you must strive to emulate that behavior.
    </p>

    <p>
      <strong>Convey an ethos.</strong> In a <a href="https://openvisualizationacademy.beehiiv.com/p/new-ova-course-new-visualization-new-public-talk" target="_blank">recent talk at MIT</a> I explained that I’ve come to believe that what I teach — both at the <a href="https://com.miami.edu/" target="_blank">University of Miami</a> and elsewhere — isn’t just a series of principles or techniques, but a way of being and acting in the world.
    </p>

    <p>
      That’s how I’ve always understood journalism and visualization design: yes, they are professions, yes, they are knowledge domains with their own methods, heuristics, conventions, inherited practices and so on and so forth. However, to me, they are more than that: journalism and design are ways of looking at reality, while we navigate it together. They are also peculiar ways of being a human being.
    </p>

    <p>
      I wish the OVA will carry that spirit — not just to teach people how to design data graphics, but to invite them into a particular way of seeing.
    </p>

    <hr>

    <p>
      What’s next? We’ll keep updating the OVA with new materials, likely in a monthly basis.
    </p>

    <p>
      And yet I’m convinced that we’re barely scratching the surface; if you think that you have a brilliant idea for a course, <strong>let us know</strong> ({% include 'partials/email-mailto.html' %}). We’ll need just a title, a description (not more than 2 paragraphs!), a table of contents, and a couple of sample videos to see how well you present to a virtual audience.
    </p>

    <p>
      If we like your idea, I’ll pay you to bring it to life, and will welcome you to the growing OVA community.
    </p>

    <p>
      I assure you that it’s a great place to be.
    </p>
</section>

{% endblock content %}
