{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block data_page %}about{% endblock %}

{% block content %}
<section class="grid">
  <h1>About</h1>

  <article>
    <hgroup>
      <h2>The Launch of the Open Visualization Academy</h2>
      <p>One professor’s mission to teach the world data visualization</p>
      <p class="byline">By <span rel="author">Lauren Comander</span></p>

      <small>
        This article originally published by the University of Miami’s
        <a href="https://idsc.miami.edu/" target="_blank">Frost Institute for Data Science and Computing</a> (IDSC).
      </small>
    </hgroup>

    <p>
      Back in 2012, when Massive Open Online Courses were all the rage, Alberto Cairo, Ph.D. sat at home with no budget, no
      staff, no fancy recording studio. It was just him, armed with a webcam and an idea.
    </p>

    <p>
      “I collaborated with the
      <a href="https://knightcenter.utexas.edu/" target="_blank">Knight Center at the University of Texas</a> and created a
      <abbr title="Massive Open Online Course">MOOC</abbr> introducing the basics of data visualization, designing charts,
      graphs, maps, and so on,” he said. “It was just me at home recording lectures – but it became huge!”
    </p>

    <p>
      Huge indeed. By 2019, tens of thousands of people from nearly 150 countries had enrolled in “Introduction to Infographics
      and Data Visualization,” the first journalism <abbr title="Massive Open Online Course">MOOC</abbr> ever created.
    </p>

    <p>
      So when he sat down last year to think about how to spend his budget as a Knight Chair in Visual Journalism, a position
      that tasks him with contributing to public knowledge and opening up access to the field, he asked himself a question:
      <em>What project could have the greatest impact?</em> Then he thought,
      <em>what if I take the model of that <abbr title="Massive Open Online Course">MOOC</abbr> and expand it</em>?
    </p>

    <p>
      By then, Cairo had spent years teaching and consulting internationally, often at the intersection of journalism, design,
      and emerging technology. Along the way, he’d helped shape how large audiences interpret complex data during a career that
      Microsoft described as “always at the vanguard of visual journalism.”
    </p>

    <p>
      The seeds for the Open Visualization Academy had taken root. Now, with the first set of courses scheduled to launch
      January 31st, 2026, the vision that began as a sketch is finally becoming reality.
    </p>

    <h3>Building a public library of knowledge</h3>

    <p>The Academy is structured simply, with three main components.</p>

    <p>
      The <b>first</b> is Cairo’s brand-new Introduction to Information Design and Data Visualization video course, where he
      spends six hours covering the fundamental principles of design and data visualization.
    </p>

    <p>
      This time, though, Cairo knew he couldn’t be the only voice. With a network that extends beyond academia, he has worked
      with companies like Microsoft and Google, advised public-sector institutions like the Congressional Budget Office, and
      spoken at major conferences.
    </p>

    <p>
      For the Academy’s <b>second</b> component, he used those industry connections to bring in subject-matter experts to teach
      specialized courses on topics ranging from cartography and mapping to coding and programming with R or Python.
    </p>

    <p>
      “I essentially know everybody in the industry because of books I’ve written and talks I’ve given, or it’s two degrees of
      separation,” he said. “Think of it as a tree. My class is the root, and branches extend into specialized areas taught by
      experts. It feels like the culmination of decades of making and producing graphics, teaching, and organizing conferences.
      I’m bringing all of this together in a single place in collaboration with others.”
    </p>

    <p>
      Another way Cairo has built shared infrastructure for the field is through publishing. He’s the author of four widely read
      books on visualization, with a fifth in the works.
    </p>

    <p>
      The Academy’s <b>third</b> component is a <abbr title="Massive Open Online Course">MOOC</abbr>that Cairo will teach every
      year, with details still being worked out.
    </p>

    <p>
      As the endowed Knight Chair in Visual Journalism and professor at the University of Miami’s School of Communication,
      Cairo’s role is not only to teach students at the University but also to contribute to the broader public understanding of
      his field. The Academy is built around the belief that anyone willing to put in the effort can learn this visual language.
    </p>

    <p>
      “I see proof of that every semester!” he said. “Anyone willing to put in a bit of effort can improve how they create
      charts.”
    </p>

    <p>
      Cairo plans to update the Academy regularly, pushing out new courses every year. “The project will keep evolving,” he
      said. He also maintains a weekly <a href="https://openvisualizationacademy.beehiiv.com/" target="_blank">newsletter</a>,
      produced with help from current and former students, that already counts more than 3,000 subscribers, and he’s using the
      newsletter and social media to spread the word about the Academy.
    </p>

    <p>“My goal isn’t for it to explode immediately,” Cairo said. “I want to build a community that grows organically.”</p>

    <h3>Why good charts matter</h3>

    <p>
      The Academy isn’t training people to merely decorate stories with charts. In the era of viral charts and infographics,
      it’s training them to change how people think about information. The European Union tapped Cairo to help translate
      high-value public data into visual explanations meant to educate readers, and this idea of visualization as a public
      service is the same philosophy driving the Academy.
    </p>

    <p>
      “Visualizations – charts, maps, graphs – are a language,” Cairo said. “They can inform or mislead. I want to help people
      create graphics that reveal the truth, not distort it.”
    </p>

    <p>
      That idea sits at the heart of one of his books, <em>How Charts Lie: Getting Smarter about Visual Information</em>, which
      argues that the most dangerous graphics are the ones that feel persuasive while quietly bending the story.
    </p>

    <p>
      Visualization, Cairo said, is also a gateway to other skills. “It’s an excellent way to teach introductory statistics or
      mathematical reasoning,” he said. “Designing a good graphic isn’t just about communicating with others. It helps you
      reason about information.”
    </p>

    <h3>From radio dreams to data visualization</h3>

    <p>
      A renowned visualization designer and former art director who has led graphics teams across several countries, Cairo
      joined the University of Miami in 2012 and later became the Knight Chair in Visual Journalism. He’s director of
      visualization at the University of Miami’s Frost Institute for Data Science and Computing. He continues to teach both
      undergraduate and graduate students while building tools and resources for a much wider public.
    </p>

    <p>
      Cairo originally wanted to work in radio. The career pivot began when a professor who knew he could draw recommended an
      internship in a newspaper graphics department. He later began studying cartography on his own, which led him deeper into
      data visualization.
    </p>

    <p>
      Hearing how his work helps people start careers or learn new skills, he said, is what makes life worth living as a
      professor.
    </p>

    <p>
      “It’s knowing you helped someone learn something meaningful,” Cairo said. “To this day, when I travel, I meet people who
      tell me they began their careers in data visualization because they took one of my old
      <abbr title="Massive Open Online Courses">MOOCs</abbr>. It was free, open, and widely accessible. That’s what this Academy
      is really about.”
    </p>
  </article>

  <h2>Brand assets</h2>

  <h3>Logos</h3>
  <!-- TODO: Create PNG versions for download -->

  <h4>Symbol</h4>
  
  <table>
    <thead>
      <tr>
        <th rowspan="1" colspan="2">Light<br>
        </th>
        <th rowspan="1" colspan="2">Dark<br>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Transparent</td>
        <td>Solid</td>
        <td>Transparent</td>
        <td>Solid</td>
      </tr>
      <tr>
        <td>
          <img src="{% static 'media/logos/ova-symbol.svg' %}" class="light-background"/>
          <a href="{% static 'media/logos/ova-symbol.svg' %}" class="button quaternary" download>
            <svg width="24" height="24" data-icon="download" aria-hidden="true"></svg>
            <span>SVG</span>
          </a>
          <a href="{% static 'media/logos/ova-symbol.png' %}" class="button quaternary" download>
            <svg width="24" height="24" data-icon="download" aria-hidden="true"></svg>
            <span>PNG</span>
          </a>
        </td>
        <td>
          <img src="{% static 'media/logos/ova-symbol-light-solid.svg' %}"/>
          <a href="{% static 'media/logos/ova-symbol-light-solid.svg' %}" class="button quaternary" download>
            <svg width="24" height="24" data-icon="download" aria-hidden="true"></svg>
            <span>SVG</span>
          </a>
          <a href="{% static 'media/logos/ova-symbol-light-solid.png' %}" class="button quaternary" download>
            <svg width="24" height="24" data-icon="download" aria-hidden="true"></svg>
            <span>PNG</span>
          </a>
        </td>
        <td>
          <img src="{% static 'media/logos/ova-symbol.svg' %}" class="dark-background"/>
          <a href="{% static 'media/logos/ova-symbol.svg' %}" class="button quaternary" download>
            <svg width="24" height="24" data-icon="download" aria-hidden="true"></svg>
            <span>SVG</span>
          </a>
          <a href="{% static 'media/logos/ova-symbol.png' %}" class="button quaternary" download>
            <svg width="24" height="24" data-icon="download" aria-hidden="true"></svg>
            <span>PNG</span>
          </a>
        </td>
        <td>
          <img src="{% static 'media/logos/ova-symbol-dark-solid.svg' %}" class="dark-background"/>
          <a href="{% static 'media/logos/ova-symbol-dark-solid.svg' %}" class="button quaternary" download>
            <svg width="24" height="24" data-icon="download" aria-hidden="true"></svg>
            <span>SVG</span>
          </a>
          <a href="{% static 'media/logos/ova-symbol-dark-solid.png' %}" class="button quaternary" download>
            <svg width="24" height="24" data-icon="download" aria-hidden="true"></svg>
            <span>PNG</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <h4>Symbol + name</h4>
  
  <table>
    <thead>
      <tr>
        <th rowspan="1" colspan="2">Light<br>
        </th>
        <th rowspan="1" colspan="2">Dark<br>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Transparent</td>
        <td>Solid</td>
        <td>Transparent</td>
        <td>Solid</td>
      </tr>
      <tr>
        <td>
          <img src="{% static 'media/logos/ova-symbol-type-light.svg' %}" class="light-background"/>
          <a href="{% static 'media/logos/ova-symbol-type-light.svg' %}" class="button quaternary" download>
            <svg width="24" height="24" data-icon="download" aria-hidden="true"></svg>
            <span>SVG</span>
          </a>
          <a href="{% static 'media/logos/ova-symbol-type-light.png' %}" class="button quaternary" download>
            <svg width="24" height="24" data-icon="download" aria-hidden="true"></svg>
            <span>PNG</span>
          </a>
        </td>
        <td>
          <img src="{% static 'media/logos/ova-symbol-type-light-solid.svg' %}"/>
          <a href="{% static 'media/logos/ova-symbol-type-light-solid.svg' %}" class="button quaternary" download>
            <svg width="24" height="24" data-icon="download" aria-hidden="true"></svg>
            <span>SVG</span>
          </a>
          <a href="{% static 'media/logos/ova-symbol-type-light-solid.png' %}" class="button quaternary" download>
            <svg width="24" height="24" data-icon="download" aria-hidden="true"></svg>
            <span>PNG</span>
          </a>
        </td>
        <td>
          <img src="{% static 'media/logos/ova-symbol-type-dark.svg' %}" class="dark-background"/>
          <a href="{% static 'media/logos/ova-symbol-type-dark.svg' %}" class="button quaternary" download>
            <svg width="24" height="24" data-icon="download" aria-hidden="true"></svg>
            <span>SVG</span>
          </a>
          <a href="{% static 'media/logos/ova-symbol-type-dark.png' %}" class="button quaternary" download>
            <svg width="24" height="24" data-icon="download" aria-hidden="true"></svg>
            <span>PNG</span>
          </a>
        </td>
        <td>
          <img src="{% static 'media/logos/ova-symbol-type-dark-solid.svg' %}" class="dark-background"/>
          <a href="{% static 'media/logos/ova-symbol-type-dark-solid.svg' %}" class="button quaternary" download>
            <svg width="24" height="24" data-icon="download" aria-hidden="true"></svg>
            <span>SVG</span>
          </a>
          <a href="{% static 'media/logos/ova-symbol-type-dark-solid.png' %}" class="button quaternary" download>
            <svg width="24" height="24" data-icon="download" aria-hidden="true"></svg>
            <span>PNG</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <h4>Symbol + name + tagline</h4>

  <table>
    <thead>
      <tr>
        <th rowspan="1" colspan="2">Light<br>
        </th>
        <th rowspan="1" colspan="2">Dark<br>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Transparent</td>
        <td>Solid</td>
        <td>Transparent</td>
        <td>Solid</td>
      </tr>
      <tr>
        <td>
          <img src="{% static 'media/logos/ova-symbol-type-tag-light.svg' %}" class="light-background"/>
          <a href="{% static 'media/logos/ova-symbol-type-tag-light.svg' %}" class="button quaternary" download>
            <svg width="24" height="24" data-icon="download" aria-hidden="true"></svg>
            <span>SVG</span>
          </a>
          <a href="{% static 'media/logos/ova-symbol-type-tag-light.png' %}" class="button quaternary" download>
            <svg width="24" height="24" data-icon="download" aria-hidden="true"></svg>
            <span>PNG</span>
          </a>
        </td>
        <td>
          <img src="{% static 'media/logos/ova-symbol-type-tag-light-solid.svg' %}"/>
          <a href="{% static 'media/logos/ova-symbol-type-tag-light-solid.svg' %}" class="button quaternary" download>
            <svg width="24" height="24" data-icon="download" aria-hidden="true"></svg>
            <span>SVG</span>
          </a>
          <a href="{% static 'media/logos/ova-symbol-type-tag-light-solid.png' %}" class="button quaternary" download>
            <svg width="24" height="24" data-icon="download" aria-hidden="true"></svg>
            <span>PNG</span>
          </a>
        </td>
        <td>
          <img src="{% static 'media/logos/ova-symbol-type-tag-dark.svg' %}" class="dark-background"/>
          <a href="{% static 'media/logos/ova-symbol-type-tag-dark.svg' %}" class="button quaternary" download>
            <svg width="24" height="24" data-icon="download" aria-hidden="true"></svg>
            <span>SVG</span>
          </a>
          <a href="{% static 'media/logos/ova-symbol-type-tag-dark.png' %}" class="button quaternary" download>
            <svg width="24" height="24" data-icon="download" aria-hidden="true"></svg>
            <span>PNG</span>
          </a>
        </td>
        <td>
          <img src="{% static 'media/logos/ova-symbol-type-tag-dark-solid.svg' %}" class="dark-background"/>
          <a href="{% static 'media/logos/ova-symbol-type-tag-dark-solid.svg' %}" class="button quaternary" download>
            <svg width="24" height="24" data-icon="download" aria-hidden="true"></svg>
            <span>SVG</span>
          </a>
          <a href="{% static 'media/logos/ova-symbol-type-tag-dark-solid.png' %}" class="button quaternary" download>
            <svg width="24" height="24" data-icon="download" aria-hidden="true"></svg>
            <span>PNG</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>


  <h3>Colors</h3>
  
  <p>As an homage to relevant contributions to the information design field, the Open Visualization Academy uses sequential color palettes from <a href="https://colorbrewer2.org/" target="_blank">ColorBrewer</a>, color interpolation (gradients) from <a href="https://d3js.org/d3-scale-chromatic/sequential" target="_blank">D3</a>, and categorical colors from <a href="https://tableau.com/blog/colors-upgrade-tableau-10-56782" target="_blank">Tableau 10</a>.</p>

  <p>Our primary color palette is <a href="https://colorbrewer2.org/#type=sequential&scheme=YlOrRd&n=9">YlOrRd</a> — which contains shades of yellow, orange and red. These colors are turned into a <a href="https://d3js.org/d3-scale-chromatic/sequential#interpolateYlOrRd">smooth gradient</a> and featued in our symbol.</p>

  
  {% comment %}
  ColorBrewer
  © Cynthia Brewer, Mark Harrower and The Pennsylvania State University

  

  https://colorbrewer2.org/#type=sequential&scheme=Greys&n=9

  https://colorbrewer2.org/#type=sequential&scheme=Reds&n=9
  https://colorbrewer2.org/#type=sequential&scheme=Blues&n=9
  https://colorbrewer2.org/#type=sequential&scheme=Greens&n=9

  Tableau 10
  Maureen Stone
  https://tableau.com/blog/colors-upgrade-tableau-10-56782
  schemeTableau10

  Iconoir
  https://iconoir.com/
  {% endcomment %}


  <p>
    <small>
      This website is set in
      <a href="https://www.brailleinstitute.org/about-us/news/braille-institute-launches-enhanced-atkinson-hyperlegible-font-to-make-reading-easier/" target="_blank">Atkinson Hyperlegible Next</a>,
      a free typeface designed by the
      <a href="https://www.brailleinstitute.org/" target="_blank">Braille Institute</a>
      with a focus on accessibility.
    </small>
  </p>

</section>

{% endblock content %}
