{% extends "base.html" %}
{% load static wagtailcore_tags %}


{% block content %}
<section class="grid">
  <hgroup class="center">
    <h1 id="main">Accessibility</h1>
    <p class="balance">
      The statement below was written primarily by <span rel="author">Frank Elavsky</span>, who contributes to the Academy as an accessibility consultant — and even as a course instructor, focusing on accessibility in data visualization.
    </p>
  </hgroup>

  <article>
    <h2>Accessibility Statement for the Open Visualization Academy</h2>

    <p>The Open Visualization Academy (OVA) is committed to ensuring digital accessibility for people with disabilities. We are continually improving our user experience for everyone, and applying relevant accessibility standards to our work.</p>
    <p>OVA’s commitment to access is in our name and core to our mission: that education about visualization is open for all. Our course materials are free, requiring no payment or login information in order to access.</p>
    <p>We are also committed to providing an excellent experience for our users and students with disabilities in ways that standards alone may not adequately address. Please reach out to us (below) if you have any questions or concerns.</p>

    <h3>Conformance status</h3>

    <p>The Web Content Accessibility Guidelines (WCAG) defines requirements for designers and developers to improve accessibility for people with disabilities. It defines three levels of conformance: Level A, Level AA, and Level AAA. OVA is partially conformant with WCAG 2.2 level AA. Partially conformant means that some parts of the content do not fully conform to the accessibility standard.</p>

    <h3>Summary of Current Strategies</h3>
    
    <p>Currently, we provide:</p>
    <ul>
      <li>No paywall or login required to access any content (sign in is only need if students wish to track their progress and earn a certificate after completing a course)</li>
      <li>Human-edited captions and transcripts for videos</li>
      <li>Downloadable course materials</li>
      <li>High contrast (in light and dark mode) on our website</li>
      <li>Clear html semantics and interactive, screen-reader access for all of our videos, quizzes, and website materials</li>
    </ul>

    <p>We have performed the following and are committed to continuing to perform:</p>
    <ul>
      <li>Regular automated testing (using Lighthouse, AXE, and WAI tools)</li>
      <li>Manual testing of static and interactive content (using a keyboard and screen reader)</li>
      <li>Consultation with accessibility specialists who are trained in testing and evaluation</li>
    </ul>

    <h3>Known Issues</h3>

    <p>We are aware of several issues and risks for the accessibility of OVA.</p>
    <p>First, we recognize that by using 3<sup>rd</sup> party software (such as our video platform provider, Vimeo), we are subject to their level of accessibility and conformance. We have taken precautions when using 3<sup>rd</sup> party software, including avoiding it whenever possible, both to ensure security and privacy for visitors of OVA as well as to reduce accessibility risk through reliance on external support. When using 3<sup>rd</sup> party software, we selected software with a high level of existing accessibility in place.</p>
    <p>We also recognize that the course materials, both in their visual format within videos as well as the downloadable course materials (such as presentation slides in PDF format), are subject to potential visual and non-visual accessibility barriers. Accessibility of these materials is determined by the level of effort and conformance that each author provides, including: image descriptions, audio descriptions, contrast levels, text size and clarity, and more. We provided standard guidelines to authors but cannot guarantee how well they implemented those guidelines.</p>
    <p>Lastly, our courses lack broad internationalization. We have core support for English materials, as well as some planned, future support for Spanish and Portuguese.</p>
    
    <h3>Technical specifications</h3>

    <p>Accessibility of OVA relies on the following technologies to work with the particular combination of web browser and any assistive technologies or plugins installed on your computer:</p>
    
    <ul>
      <li>HTML</li>
      <li>WAI-ARIA</li>
      <li>CSS</li>
      <li>JavaScript</li>
    </ul>

    <p>These technologies are relied upon for conformance with the accessibility standards used.</p>
    
    <h3>Contact Information</h3>

    <p>For questions, comments, and concerns please reach out to &#104;&#101;&#108;&#108;&#111;<span>&#64;</span>&#111;&#112;&#101;&#110;&#118;&#105;&#115;&#117;&#97;&#108;&#105;&#122;&#97;&#116;&#105;&#111;&#110;&#97;&#99;&#97;&#100;&#101;&#109;&#121;&#46;&#111;&#114;&#103; — we will try to respond to any accessibility concerns within 10 business days.</p>
    <p>OVA’s accessibility was externally evaluated by <a href="https://frank.computer/" target="_blank">Frank Elavsky</a> of Elavsky Technology Consulting, LLC. This statement’s primary author was Frank Elavsky, with approval by OVA.</p>
    <p>Credit should be given to the wonderful developers, Vinicius Sueiro and Melissa Strong, for their work making OVA as accessible as possible from the first inception of the platform.</p>

    <hr>

    <p>This Accessibility Statement was approved by:</p>
    
    <p>
      Alberto Cairo<br>
      Director, Open Visualization Academy
    </p>
  </article>
  
</section>
{% endblock content %}