{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags%}

{% block content %}
  <div class="container">
    <h1>{{ page.title }}</h1>

{#    {% if page.instructors.exists %}#}
{#      <p><strong>Instructor{{ page.instructors.count|pluralize }}:</strong>#}
{#      {{ page.instructors.all|join:", " }}</p>#}
{#    {% endif %}#}
<h2>Instructors:</h2>
  <ul>
    {% for iteration in self.course_instructors.all %}
      <li>
      {% if iteration.instructor.image %}
        {% image iteration.instructor.image fill-50x50 as img%}
        <img src="{{ img.url }}" alt="{{ iteration.author.name }}">
      {% else %}
        <img src="{% static 'images/default_instructor_image.jpg' %}">
      {% endif %}
      {{ iteration.instructor.name }}
      </li>
    {% endfor %}
  </ul>

    {% if page.content %}
      <section>
        {% for block in page.content %}
          {{ block.value|richtext }}
        {% endfor %}
      </section>
    {% endif %}

    {% if page.materials.exists %}
      <h2>Course Materials</h2>
      <ul>
        {% for material in page.materials.all %}
            <li><a href="{{ material.file }}" download>{{ material.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}

    <h2>Chapters</h2>
    {% if page.get_children.live %}
      <ol>
        {% for chapter in page.get_children.live.specific %}
          <li><a href="{{ chapter.url }}">{{ chapter.title }}</a></li>
        {% endfor %}
      </ol>
    {% endif %}
  </div>
{% endblock %}
