{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags wagtailmarkdown %}

{% block content %}

<section class="course-page grid">

  <div class="media"></div>

  <div class="course" data-tags="{% for tag in course.tags.all %}{{ tag }}{% if not forloop.last %},{% endif %}{% endfor %}">
    <div class="card">
      <div class="primary">
        <span class="kicker">Course<span class="screen-reader">:</span></span>
        <h1>{{ page.title }}</h1>
        <p class="authors">
          <span class="screen-reader">Author{{ self.course_instructors.all|pluralize }}:</span>

          {% for iteration in self.course_instructors.all %}
            <span class="author">
              {% if iteration.instructor.image %}
                {% image iteration.instructor.image fill-48x48 as img %}
                <img src="{{ img.url }}" alt="">
              {% endif %}
              {{ iteration.instructor.name }}
            </span>
          {% endfor %}
        </p>
      </div>
      <div class="secondary">
        <p class="tags">
          {% for tag in self.tags.all %}
            <span class="tag" data-tag="{{ tag }}">{{ tag }}</span>
          {% endfor %}
        </p>
        <p class="duration">
          <span class="screen-reader">Duration: </span>
          {% with rounded=self.duration|default:0|floatformat:0 %}
            {{ rounded }}<span aria-hidden="true">h</span>
            <span class="screen-reader">hour{{ rounded|pluralize }}</span>
          {% endwith %}
        </p>
      </div>
    </div>
  </div>

  <p id="sign-in-description">
    To get a <strong>certificate</strong> of completion, sign in to track your progress
  </p>

  <section class="chapters">
    <h2>Chapters</h2>

    <div class="arrows">
      <a href="#">
        <svg width="24" height="24" data-icon="chevron-left" aria-hidden="true"></svg>
        Previous
      </a>
      <a href="#">
        <svg width="24" height="24" data-icon="chevron-right" aria-hidden="true"></svg>
        Next
      </a>
    </div>

    {% if page.get_children.live %}
      <ol>
        {% for chapter in page.get_children.live.specific %}
          <li>
            <a href="{{ chapter.url }}">{{ chapter.title }}</a>
            {% if chapter.get_children.live %}
              <ol>
                {% for segment in chapter.get_children.live.specific %}
                <li>
                  <a href="{{ segment.url }}">{{ segment.title }}</a>
                </li>
                {% endfor %}
              </ol>
            {% endif %}
          </li>
        {% endfor %}
      </ol>
    {% endif %}
  </section>

  {% if page.materials.exists %}
    <h2>Course Materials</h2>
    <ul>
      {% for material in page.materials.all %}
        <li><a href="{{ material.file }}" download>{{ material.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}


  {% comment %}
  {% if page.content %}
    <section>
      {% for block in page.content %}
        {% if block.block_type == "markdown" %}
          {{ block.value|markdown }}
        {% elif block.block_type == "rich_text" %}
          {{ block.value|richtext }}
        {% endif %}
      {% endfor %}
    </section>
  {% endif %}
  {% endcomment %}

</section>
  
{% endblock %}
