{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block content %}

<section id="courses" class="courses grid">

  <h2>Courses</h2>

  <div class="widget">

    <form class="filters" onsubmit="return false">
      <label>
        <input type="radio" name="tag" value="all" checked/>
        <span class="tag" data-tag="all">Show all<span class="screen-reader">&nbsp;courses</span></span>
      </label>

      {% for tag in all_tags %}
        <label>
          <input type="radio" name="tag" value="{{ tag }}">
          <span class="tag" data-tag="{{ tag }}">{{ tag }}</span>
        </label>
      {% endfor %}
    </form>

    <ul class="cards">
      {% for course in courses %}
        <li class="course" data-tags="{% for tag in course.tags.all %}{{ tag }}{% if not forloop.last %},{% endif %}{% endfor %}">
          <a href="{{ course.url }}">
            <div class="primary">
              <div class="media"></div>
              <h3>{{ course.title }}</h3>
              <p class="authors">
                <span class="screen-reader">Author{{ course.instructors.all|pluralize }}:</span>
                {% for instructor in course.instructors.all %}
                  <span class="author">{{ instructor }}</span>
                {% empty %}
                  <span class="author">Unknown Author</span>
                {% endfor %}
              </p>
            </div>
            <div class="secondary">
              <p class="tags">
                {% for tag in course.tags.all %}
                  <span class="tag" data-tag="{{ tag }}">{{ tag }}</span>
                {% endfor %}
              </p>
              <p class="duration">
                <span class="screen-reader">Duration: </span>
                {% with rounded=course.duration|default:0|floatformat:0 %}
                  {{ rounded }}<span aria-hidden="true">h</span>
                  <span class="screen-reader">hour{{ rounded|pluralize }}</span>
                {% endwith %}
              </p>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>

  </div>

</section>

{% endblock %}