{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block content %}
  <div class="container">
    <h1>{{ page.title }}</h1>

    {% if page.video_url %}
      <div class="video-container">
        <video controls width="100%" src="{{ page.video_url }}"></video>
      </div>

      <code>{{ vimeo_id }}</code>

    {% endif %}

    {% if page.content %}
      <section>
        {% for block in page.content %}
          {{ block.value|richtext }}
        {% endfor %}
      </section>
    {% endif %}
  </div>
{% endblock %}
