{% comment %}
<div class="announcements">
  <h2 class="small title">What’s happening</h2>
  <div class="announcement">
    <div class="notification-badge kicker">1</div>
    <div class="text">
      <p>Lorem ipsum dolor sit amet consectetur</p>
      <a href="#" class="button tertiary" target="_blank">
        Read more
        {% include 'icons/arrow-up-right.svg' with name='arrow-up-right' attributes='aria-hidden="true"' %}
      </a>
    </div>
    <img src="https://placecats.com/256/256" alt="">
  </div>
</div>
{% endcomment %}