{% load wagtailimages_tags %}
{% if announcements %}
<div class="announcements">
  <h2 class="small title">What's happening</h2>
  {% for announcement in announcements %}
  <div class="announcement">
    <div class="notification-badge kicker">{{ forloop.counter }}</div>
    <div class="text">
      <p>{{ announcement.text }}</p>
      <a href="{{ announcement.button_url }}" class="button tertiary" target="_blank">
        {{ announcement.button_text }}
        {% include 'icons/arrow-up-right.svg' with name='arrow-up-right' attributes='aria-hidden="true"' %}
      </a>
    </div>
    {% if announcement.image %}
      {% image announcement.image fill-256x256 as announcement_img %}
      <img src="{{ announcement_img.url }}" alt="">
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endif %}
