{% load wagtailcore_tags %}

<div class="arrows">
  {% with previous=segment.get_previous_segment next=segment.get_next_segment %}
    {% if previous %}
      <a href="{% pageurl previous %}#main" class="button secondary" title="{{ previous.title }}">
        {% include 'icons/chevron-left.svg' with name='chevron-left' attributes='aria-hidden="true"' %}
        <span>Back</span>
      </a>
    {% endif %}
    {% if next %}
      <a href="{% pageurl next %}#main" class="button secondary" title="{{ next.title }}">
        <span>Next</span>
        {% include 'icons/chevron-right.svg' with name='chevron-right' attributes='aria-hidden="true"' %}
      </a>
    {% endif %}
  {% endwith %}
</div>