<nav>

  <ol>
    {% for row in chapter_data %}
      <li class="compact">

        <p class="chapter kicker">
          Chapter {{ forloop.counter }}<span {% if row.segments|length == 1 %}class="single-segment"{% endif %}>: {{ row.chapter.title }}</span>

          {% if row.completed %}
            <span class="screen-reader">Completed</span>
          {% endif %}
        </p>

        <ol>
          {% for s in row.segments %}
            <li {% if s.completed %}class="completed"{% endif %}>
              <a href="{{ s.segment.url }}#main"
                 {% if request.path == s.segment.url %}class="active"{% endif %}>

                <span class="tooltip">
                  {% if s.quiz %}
                    <span class="quiz-badge kicker">Quiz</span>
                    {{ s.quiz.title|default:"Test your knowledge" }}
                  {% else %}
                    {{ s.segment.title }}
                  {% endif %}
                </span>

                {% if s.completed %}
                  <svg width="24" height="24" data-icon="check-circle" aria-label="Completed"></svg>
                {% else %}
                  <svg width="24" height="24" data-icon="circle" aria-hidden="true"></svg>
                {% endif %}
              </a>
            </li>
          {% endfor %}
        </ol>

      </li>
    {% endfor %}
  </ol>
</nav>

<script>
  // Make chapter list compact/expanded if user has last viewed like so it in another page (pairs with Accessibility.js class)
  (function() {
    const input = document.querySelector('.switch input[name="compact-view"]');
    if (!input) return;

    const compactView = localStorage.getItem("compactView");
    if (compactView === null) {
      
      // Display expanded if no preference is stored and user is on mobile
      if (window.innerWidth <= 480) {
        input.checked = false;
        toggleCompact(false);
      }
      
      return;
    }

    const bool = compactView === "true";
    input.checked = bool;
    toggleCompact(input.checked);
  })();
</script>