<nav>
  <ol>
    {% for chapter in course.get_children.live.specific %}
      <li class="compact">
        <p class="chapter kicker">
          Chapter {{ forloop.counter }}<span {% if chapter.get_children.live.count == 1 %}class="single-segment"{% endif %}>: {{ chapter.title }}</span>
        </p>
        {% if chapter.get_children.live %}
          <ol>

            {% for segment in chapter.get_children.live.specific %}

            {% comment %} TODO: If segment is completed, add `completed` class to <li> so [quiz] tag turns green {% endcomment %}
            <li {% if segment.segment_progress is True %}class="completed"{% endif %}>
              <a href="{{ segment.url }}#main" {% if request.path == segment.url %}class="active"{% endif %}>
              
                <span class="tooltip">
                  {% if segment.quiz %}
                    <span class="quiz-badge kicker">Quiz</span>
                    <span class="screen-reader">{{ forloop.parentloop.counter }}</span>

                    {{ segment.quiz.title|default:"Test your knowledge" }}
                  {% else %}
                    {{ segment.title }}
                  {% endif %}
                </span>

                {% comment %} TODO: Fix line below to be the completion status of the segment in the loop (not the current page) {% endcomment %}
                {% if segment.segment_progress is True %}
                  <svg width="24" height="24" data-icon="check-circle" aria-hidden="true"></svg>
                {% else %}
                  <svg width="24" height="24" data-icon="circle" aria-hidden="true"></svg>
                {% endif %}
              </a>
            </li>
            {% endfor %}

          </ol>
        {% endif %}
      </li>
    {% endfor %}
  </ol>
</nav>

<script>
  // Make chapter list compact/expanded if user has last viewed like so it in another page (pairs with Accessibility.js class)
  (function() {
    const input = document.querySelector('.switch input[name="compact-view"]');
    if (!input) return;

    const compactView = localStorage.getItem("compactView");
    if (compactView === null) {
      
        // Display expanded if no preference is stored and user is on mobile
        if (window.innerWidth <= 480) {
          input.checked = false;
          toggleCompact(false);
        }
      return;
    }

    const bool = compactView === "true";
    input.checked = bool;
    toggleCompact(input.checked);
  })();
</script>