{% load static wagtailcore_tags wagtailimages_tags wagtailmarkdown %}

<div class="people contributors grid">

  <dialog closedby="any">
    <button class="button secondary" onclick="this.parentElement.close()" autofocus>
      <span class="screen-reader">Close</span>
      <svg width="24" height="24" data-icon="x-mark" aria-hidden="true"></svg>
    </button>
    <div class="details"><!-- Filled in JS --></div>
  </dialog>

  {% for contributor in contributors %}

    {% comment %} Card {% endcomment %}
    <div role="button" tabindex="0" class="person" data-role="contributor" onclick="app.contributors.open({{ contributor.id }})">
      <figure>

        {% if contributor.image %}
          {% with alt=contributor.image.description|default:"Profile" %}
            {% image contributor.image fill-480x480 as img %}
            <img class="media" src="{{ img.url }}" alt="{{ alt }}">
          {% endwith %}
        {% else %}
          <div class="media"></div>
        {% endif %}

        <figcaption>
          <strong>{{ contributor.name }}</strong>
          <span class="tagline small">{{ contributor.tagline }}</span>  
        </figcaption>
      </figure>
    </div>

    {% comment %} Content for dialog {% endcomment %}
    <template data-person="{{ contributor.id }}">

      <div class="person" data-role="contributor">

        {% if contributor.image %}
          {% with alt=contributor.image.description|default:"Profile" %}
            {% image contributor.image fill-480x480 as img %}
            <img class="media" src="{{ img.url }}" loading="lazy" alt="{{ alt }}">
          {% endwith %}
        {% else %}
          <div class="media"></div>
        {% endif %}
        
        <div class="info">
          <h2><strong>{{ contributor.name }}</strong></h2>
          <span class="tagline">{{ contributor.tagline }}</span>  
          <p class="bio">{{ contributor.bio }}</p>          

          {% comment %} TODO: List all courses for contributor (in case of more than 1) and plurarize title {% endcomment %}
          {% comment %} <h3 class="kicker">Course</h3>
          <ul class="courses small">
            <li>{{ course.title }}</li>
          </ul> {% endcomment %}

        </div>
        <ul class="links small">
          {% for social_link in contributor.social_links %}
            <li>
              <a href="{{ social_link }}" target="_blank">
                {% comment %} Add platform icon name dynamically {% endcomment %}
                <svg width="24" height="24" data-icon="internet" aria-hidden="true"></svg>

                {% comment %} Clean link dynamically (remove protocol and trailing slash) {% endcomment %}
                <span>{{ social_link }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </template>

  {% endfor %}

</div>

  

<div class="people contributors grid">
  
</div>