{% load static wagtailcore_tags wagtailimages_tags wagtailmarkdown %}

<section id="courses" class="courses grid">

  <h2>Courses</h2>

  <div class="widget">

    <form class="filters" onsubmit="return false">
      <label>
        <input type="radio" name="tag" value="all" checked/>
        <span class="tag" data-tag="all">Show all<span class="screen-reader">&nbsp;courses</span></span>
      </label>

      {% for tag in all_tags %}
        <label>
          <input type="radio" name="tag" value="{{ tag }}">
          <span class="tag" data-tag="{{ tag }}">{{ tag }}{% if tag == "Lecture" or tag == "Tutorial" %}s{% endif %}</span>
        </label>
      {% endfor %}
    </form>

    <ul class="cards">
      {% for course in courses %}
        <li class="course" data-tags="{% for tag in course.tags.all %}{{ tag }}{% if not forloop.last %},{% endif %}{% endfor %}">
          <a href="{{ course.url }}" class="card">
            <div class="primary">
              <div class="media"></div>
              <h3>{{ course.title }}</h3>
              <p class="authors">
                <span class="screen-reader">Author{{ course.course_instructors.all|pluralize }}:</span>

                {% for iteration in course.course_instructors.all %}
                  <span class="author">
                    {% if iteration.instructor.image %}
                      {% image iteration.instructor.image fill-48x48 as img %}
                      <img src="{{ img.url }}" alt="">
                    {% endif %}
                    {{ iteration.instructor.name }}
                  </span>
                {% endfor %}
              </p>
            </div>
            <div class="secondary">
              <p class="tags">
                {% if user.is_authenticated %}
                  <!-- TODO: Check if user is signed in and has completed the course -->
                  <span class="completed-badge kicker">Completed</span>
                {% endif %}

                {% for tag in course.tags.all %}
                  <span class="tag" data-tag="{{ tag }}">{{ tag }}</span>
                {% endfor %}
              </p>
              <p class="duration">
                <span class="screen-reader">Duration: </span>
                {% with rounded=course.duration|default:0|floatformat:0 %}
                  {{ rounded }}<span aria-hidden="true">h</span>
                  <span class="screen-reader">hour{{ rounded|pluralize }}</span>
                {% endwith %}
              </p>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>

  </div>

</section>
<!--
<section id="courses" class="news grid">
  
</section>
-->