{% load static wagtailcore_tags wagtailimages_tags wagtailmarkdown %}

<section id="courses" class="courses grid">

  <h2>Courses</h2>

  <div class="widget">

    <form class="filters" onsubmit="return false">
      <label class="small" data-tag="all">
        <input type="radio" name="tag" value="all" checked/>
        <span class="tag">Show all<span class="screen-reader">&nbsp;courses</span></span>
      </label>

      {% for tag in all_tags %}
        <label class="small" data-tag="{{ tag }}">
          <input type="radio" name="tag" value="{{ tag }}">
          <span class="tag">{{ tag }}{% if tag == "Lecture" or tag == "Tutorial" %}s{% endif %}</span>
        </label>
      {% endfor %}
    </form>

    <ul class="cards">
      {% for course in courses %}
        {% with course_tags=course.tags.all course_instructors=course.course_instructors.all %}
          <li class="course" data-tags="{% for tag in course_tags %}{{ tag }}{% if not forloop.last %},{% endif %}{% endfor %}">
            {% if course.coming_soon %}
              <div class="card">
                <span class="coming-soon-badge kicker">Coming {{ course.coming_soon }}</span>
            {% else %}
              <a href="{{ course.url }}" class="card">
            {% endif %}
                <div class="primary">
                  <div class="media gradient{% for tag in course_tags %} tag-{{ tag|slugify }}{% endfor %}">
                    {% if course.image %}
                      {% image course.image original as img %}
                      <img src="{{ img.url }}" alt="" loading="lazy">
                    {% else %}
                      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/x8AAwMCAO+ip1sAAAAASUVORK5CYII=">
                    {% endif %}
                  </div>
                  <h3>{{ course.title }}</h3>
                  <p class="authors small">
                    <span class="screen-reader">Author{{ course_instructors|pluralize }}:</span>

                    {% for iteration in course_instructors %}
                      <span class="author">
                        {% if iteration.instructor.image %}
                          {% image iteration.instructor.image fill-48x48 as img %}
                          <img src="{{ img.url }}" alt="" loading="lazy">
                        {% endif %}
                        {{ iteration.instructor.name }}
                      </span>
                    {% endfor %}
                  </p>
                </div>
                <div class="secondary small">
                  <p class="tags">
                    {% if user.is_authenticated and course.completed %}
                      <span class="completed-badge kicker">Completed</span>
                    {% endif %}

                    {% for tag in course_tags %}
                      <span class="tag" data-tag="{{ tag }}">{{ tag }}</span>
                    {% endfor %}
                  </p>
                  {% with duration=course.formatted_duration %}
                    {% if duration %}
                      <p class="duration">
                        <span class="screen-reader">Duration: </span>
                        {{ course.formatted_duration }}
                      </p>
                    {% endif %}
                  {% endwith %}
                </div>
            {% if course.coming_soon %}
              </div>
            {% else %}
              </a>
            {% endif %}
          </a>
        </li>
        {% endwith %}
      {% endfor %}
    </ul>

  </div>

  <p class="cta">  
    <small>Not sure where to start?</small>
    <a href="{{ courses.0.url }}" class="button primary">
      <span>Learn fundamentals</span>     
    </a>
  </p>

</section>