{% load static wagtailcore_tags wagtailimages_tags wagtailmarkdown %}

<section class="course-page grid">

  <div class="media"></div>

  <div class="course" data-tags="{% for tag in course.tags.all %}{{ tag }}{% if not forloop.last %},{% endif %}{% endfor %}">
    <div class="card">
      <div class="primary">
        <span class="kicker">Course<span class="screen-reader">:</span></span>
        <h1>{{ course.title }}</h1>
        <p class="authors">
          <span class="screen-reader">Author{{ course.course_instructors.all|pluralize }}:</span>

          {% for iteration in course.course_instructors.all %}
            <span class="author">
              {% if iteration.instructor.image %}
                {% image iteration.instructor.image fill-48x48 as img %}
                <img src="{{ img.url }}" alt="">
              {% endif %}
              {{ iteration.instructor.name }}
            </span>
          {% endfor %}
        </p>
      </div>
      <div class="secondary">
        {% with tags=course.tags.all %}
          {% if tags %}
            <p class="tags">
              {% for tag in tags %}
                <span class="tag" data-tag="{{ tag }}">{{ tag }}</span>
              {% endfor %}
            </p>
          {% endif %}
        {% endwith %}
        <p class="duration">
          <span class="screen-reader">Duration: </span>
          {% with rounded=course.duration|default:3|floatformat:0 %}
            {{ rounded }}<span aria-hidden="true">h</span>
            <span class="screen-reader">hour{{ rounded|pluralize }}</span>
          {% endwith %}
        </p>
      </div>
    </div>
  </div>

  {% if user.is_authenticated %}

    <!-- TODO: Calculate and display course progress -->
    {% with percentage=0 %}
      <div class="tracker">
        <div class="progress {% if percentage == 100 %}completed{% endif %}">
          <label>
            <span class="screen-reader">Course progress</span> 
            <div class="donut" style="--percentage: {{ percentage }}%">
              <progress value="{{ percentage }}" min="0" max="100" class="screen-reader">{{ percentage }}%</progress>
              {% if percentage == 100 %}
                <svg width="24" height="24" data-icon="check" aria-hidden="true"></svg>
              {% endif %}
            </div>
          </label>
          <p>
            <strong class="percentage">{{ percentage }}%</strong>
            of course completed
          </p>
        </div>
        <div class="certificate">
          {% if percentage == 100 %}
            <a href="#" class="button tertiary">
              <svg width="24" height="24" data-icon="download" aria-hidden="true"></svg>
              <span>
                <span class="screen-reader">Download</span>
                Certificate
              </span>
            </a>
          {% else %}
            <small>Complete to earn PDF certificate</small>
          {% endif %}
        </div>
      </div>
    {% endwith %}

  {% else %}

    <!-- TODO: Remember whether user deactivated warning (and add class conditionally) -->
    <p id="sign-in-description" class="warning" onclick="this.classList.remove('warning')">
      To get a <strong>certificate</strong> of completion, sign in to track your progress
    </p>

  {% endif %}

  <section class="overview grid">
    <p class="content-updated">
      <!-- TODO: Make this field dynamic -->
      <small>Content updated in <time datetime="2025-09">September 2025</time></small>
    </p>

    {% if course.content %}
    <details open>
      <summary class="kicker">
        <span>Overview</span>
      </summary>
      <div>
        {% for block in course.content %}
          {% if block.block_type == "markdown" %}
            {{ block.value|markdown }}
          {% elif block.block_type == "rich_text" %}
            {{ block.value|richtext }}
          {% endif %}
        {% endfor %}
      </div>
    </details>
    <script>
      // Close details element if user has last closed it in another page (redundant with Accessibility.js class)
      if (localStorage.getItem("overviewState") === "closed") {
        const details = document.querySelector(".overview details");
        if (details) details.open = false;
      }
    </script>
    {% endif %}
  </section>

  <div class="sticky-wrapper grid">
    <section class="chapters">
      <header>
        <h2>Chapters</h2>

        {% comment %}
        <!-- TODO: Only show “view as chart” option if completion percentage is > 0 -->
        <label>
          <input type="checkbox" name="chart-view" oninput="this.closest('.chapters').classList.toggle('chart', this.checked)">
          <span>View as chart</span>
        </label>
        {% endcomment %}
      </header>

      {% comment %}
        <header>
          <h2>Chapters</h2>
          <div class="arrows">
            <a href="#" class="button tertiary">
              <svg width="24" height="24" data-icon="chevron-left" aria-hidden="true"></svg>
              <span class="screen-reader">Previous</span>
            </a>
            <a href="#" class="button tertiary">
              <svg width="24" height="24" data-icon="chevron-right" aria-hidden="true"></svg>
              <span class="screen-reader">Next</span>
            </a>
          </div>
        </header>
      {% endcomment %}

      {% if course.get_children.live %}
        <ol>
          {% for chapter in course.get_children.live.specific %}
            <li>
              <p class="chapter kicker">
                Chapter {{ forloop.counter }}<span {% if chapter.get_children.live.count == 1 %}class="single-segment"{% endif %}>: {{ chapter.title }}</span>
              </p>
              {% if chapter.get_children.live %}
                <ol>

                  {% for segment in chapter.get_children.live.specific %}
                  <li>
                    <a href="{{ segment.url }}#main" {% if request.path == segment.url %}class="active"{% endif %}>

                      <!-- TEMP: Pretend certain segment pages are a quiz, as quiz pages are not yet implemented -->
                      {% if segment.title|slice:":6" == "[Quiz]" %}
                        <span class="quiz-badge kicker">Quiz</span>
                        <span>Test your knowledge</span>
                      {% else %}  
                        <span>{{ segment.title }}</span>
                      {% endif %}

                      <!-- TODO: Make completed status dynamic -->
                      {% with completed=False %}
                        {% if completed %}
                          <svg width="24" height="24" data-icon="check-circle" aria-hidden="true"></svg>
                        {% else %}
                          <svg width="24" height="24" data-icon="circle" aria-hidden="true"></svg>
                        {% endif %}
                      {% endwith %}
                    </a>
                  </li>
                  {% endfor %}

                </ol>
              {% endif %}
            </li>
          {% endfor %}
        </ol>
      {% endif %}

      <!-- TEMP: Randomly set segments as completed to test style
      <script>
        (function() {
          const courseParts = document.querySelectorAll(".chapters ol ol a");
          courseParts.forEach((part, index) => {
            // const chance = index === 0 || Math.random() < .3;
            
            // Roughly first 37%
            const chance = (index / courseParts.length ) < .37;
            part.classList.toggle("completed", chance);
          });

        })();
      </script>
      -->

    </section>

    <section class="content">
      
      <h2 id="main" tabindex="-1">
        {% if segment.title %}
          <span class="number kicker">
            {{ chapter_number }}.{{ segment_number }}
          </span>

          <!-- TEMP: change title if current segment is a “quiz” (temporary fix) -->
          {% if segment.title|slice:":6" == "[Quiz]" %}
            <span class="quiz-badge kicker">Quiz</span>
            <span>Test your knowledge</span>
          {% else %}
            {{ segment.title }}
          {% endif %}
        {% else %}
          Welcome to the Course
        {% endif %}
      </h2>

      {% if segment.video_url %}
        {% include 'partials/video.html' with id=vimeo_id %}
      {% endif %}

      {% if segment.content or chapter.content %}
        <section class="content-written">
          <h3 class="screen-reader">Content</h3>

          <div class="content-written-segment">
            <!-- Quick fix while content is still a required field -->
            {% if segment.content and segment.content.0.value|striptags != "-" %}
              {% for block in segment.content %}
                {{ block.value|richtext }}
              {% endfor %}
            {% endif %}
          </div>

          <!-- TEMP: Hide materials and chapter content if current segment is a “quiz” (temporary fix) -->
          {% if segment.title|slice:":6" != "[Quiz]" %}
          <div class="content-written-chapter">
            <!-- Quick fix while content is still a required field -->
            {% if chapter.content and chapter.content.0.value|striptags != "-" %}
              {% for block in chapter.content %}
                {{ block.value|richtext }}
              {% endfor %}
            {% endif %}
          </div>
          {% endif %}

        </section>
      {% endif %}

      <!-- TEMP: Hide materials and chapter content if current segment is a “quiz” (temporary fix) -->
      {% if segment_materials or chapter_materials or course_materials and segment.title|slice:":6" != "[Quiz]" %}
        <section class="content-materials">
          <h3>Materials</h3>

          <ul>
          {% if segment_materials %}
            <!-- <h4>Materials of Segment</h4> -->
            {% for material in segment_materials %}
              <li>
                <a href="{{ material.file.url }}" download class="button tertiary material-segment">
                  <svg width="24" height="24" data-icon="download" aria-hidden="true"></svg>
                  <span>{{ material.title }}</span>
                </a>
              </li>
            {% endfor %}
          {% endif %}

          {% if chapter_materials %}
            <!-- <h4>Materials of Chapter</h4> -->
            {% for material in chapter_materials %}
              <li>
                <a href="{{ material.file }}" download class="button tertiary material-chapter">
                  <svg width="24" height="24" data-icon="download" aria-hidden="true"></svg>
                  <span>{{ material.title }}</span>
                </a>
              </li>
            {% endfor %}
          {% endif %}

          {% if course_materials %}
            <!-- <h4>Materials of Course</h4> -->
            {% for material in course_materials %}
              <li>
                <a href="{{ material.file }}" download class="button tertiary material-course">
                  <svg width="24" height="24" data-icon="download" aria-hidden="true"></svg>
                  <span>{{ material.title }}</span>
                </a>
              </li>
            {% endfor %}
          {% endif %}
          </ul>

        </section>
      {% endif %}

      {% if segment %}
    
        <div class="arrows">
          {% with previous=segment.get_previous_segment next=segment.get_next_segment %}
            {% if previous %}
              <a href="{% pageurl previous %}#main" class="button secondary" title="{{ previous.title }}">
                <svg width="24" height="24" data-icon="chevron-left" aria-hidden="true"></svg>
                <span>Back</span>
              </a>
            {% endif %}
            {% if next %}
              <a href="{% pageurl next %}#main" class="button secondary" title="{{ next.title }}">
                <span>Next</span>
                <svg width="24" height="24" data-icon="chevron-right" aria-hidden="true"></svg>
              </a>
            {% endif %}
          {% endwith %}
        </div>

      {% else %}

        <!-- TODO: Add general welcome message and start course button -->
        <div class="arrows">
          <a href="#" class="button secondary">
            Start here
          </a>
        </div>

      {% endif %}

    </section>

  </div>

</section>