{% load static wagtailcore_tags wagtailimages_tags wagtailmarkdown %}

<section class="course-page grid">

  <div class="media" data-tags="{% for tag in course.tags.all %}{{ tag }}{% if not forloop.last %},{% endif %}{% endfor %}"></div>
 
  <div class="course">
    <div class="card">
      <div class="primary">
        <span class="kicker">Course<span class="screen-reader">:</span></span>
        <h1>{{ course.title }}</h1>
        <p class="authors">
          <span class="screen-reader">Author{{ course.course_instructors.all|pluralize }}:</span>

          {% for iteration in course.course_instructors.all %}
            <span class="author">
              {% if iteration.instructor.image %}
                {% image iteration.instructor.image fill-48x48 as img %}
                <img src="{{ img.url }}" alt="">
              {% endif %}
              {{ iteration.instructor.name }}
            </span>
          {% endfor %}
        </p>
      </div>
      <div class="secondary">
        {% with tags=course.tags.all %}
          {% if tags %}
            <p class="tags">
              {% for tag in tags %}
                <span class="tag" data-tag="{{ tag }}">{{ tag }}</span>
              {% endfor %}
            </p>
          {% endif %}
        {% endwith %}
        <p class="duration">
          <span class="screen-reader">Duration: </span>
          {% with rounded=course.duration|default:3|floatformat:0 %}
            {{ rounded }}<span aria-hidden="true">h</span>
            <span class="screen-reader">hour{{ rounded|pluralize }}</span>
          {% endwith %}
        </p>
      </div>
    </div>
  </div>

  {% if user.is_authenticated %}

    <!-- TODO: Calculate and display course progress -->
    {% with percentage=0 %}
      <div class="tracker">
        <div class="progress {% if percentage == 100 %}completed{% endif %}">
          <label>
            <span class="screen-reader">Course progress</span> 
            <div class="donut" style="--percentage: {{ percentage }}%">
              <progress value="{{ percentage }}" min="0" max="100" class="screen-reader">{{ percentage }}%</progress>
              {% if percentage == 100 %}
                <svg width="24" height="24" data-icon="check" aria-hidden="true"></svg>
              {% endif %}
            </div>
          </label>
          <p>
            <strong class="percentage">{{ percentage }}%</strong>
            of course completed
          </p>
        </div>
        <div class="certificate">
          {% if percentage == 100 %}
            <a href="#" class="button tertiary">
              <svg width="24" height="24" data-icon="download" aria-hidden="true"></svg>
              <span>
                <span class="screen-reader">Download</span>
                Certificate
              </span>
            </a>
          {% else %}
            <small>Complete to earn PDF certificate</small>
          {% endif %}
        </div>
      </div>
    {% endwith %}

  {% else %}

    <!-- TODO: Remember whether user deactivated warning (and add class conditionally) -->
    <p id="sign-in-description" class="warning" onclick="this.classList.remove('warning')">
      To get a <strong>certificate</strong> of completion, sign in to track your progress
    </p>

  {% endif %}

  <section class="overview grid">
    <p class="content-updated">
      <!-- TODO: Make this field dynamic -->
      <small>Content updated in <time datetime="2025-09">September 2025</time></small>
    </p>

    {% if course.content %}
      {% include 'partials/overview.html' %}
    {% endif %}
  </section>

  <div class="sticky-wrapper grid">
    <section class="chapters">
      <header>
        <h2>Chapters</h2>

        {% include 'partials/compact-view.html' %}

        {% comment %}
          <div class="arrows">
            <a href="#" class="button tertiary">
              <svg width="24" height="24" data-icon="chevron-left" aria-hidden="true"></svg>
              <span class="screen-reader">Previous</span>
            </a>
            <a href="#" class="button tertiary">
              <svg width="24" height="24" data-icon="chevron-right" aria-hidden="true"></svg>
              <span class="screen-reader">Next</span>
            </a>
          </div>
        {% endcomment %}
      </header>

      {% if course.get_children.live %}
        {% include 'partials/chapter-list.html' %}
      {% endif %}
    </section>

    <!-- TODO: If segment is completed, add `completed` class so [quiz] tag turns green -->
    <section class="content">

      <h2 id="main" tabindex="-1">
        <span class="number kicker">
          {{ chapter_number }}.{{ segment_number }}
        </span>
        <!-- TODO: Handle empty(?) titles when segment is a quiz -->
        {% if segment.title %}
          <!-- TEMP: change title if current segment is a “quiz” (temporary fix) -->
          {% if segment.title|slice:":6" == "[Quiz]" %}
            <span class="quiz-badge kicker">Quiz</span>
            <span>Test your knowledge</span>
          {% else %}
            {{ segment.title }}
          {% endif %}
        {% endif %}
      </h2>

      {% if segment.video_url %}
        {% include 'partials/video.html' with id=vimeo_id %}
      {% endif %}

      {% if segment.content or chapter.content %}
        <section class="content-written">
          <h3 class="screen-reader">Content</h3>

          {% if segment.content %}
          <div class="content-written-segment">
            <!-- TODO: Render markdown too -->
            {% for block in segment.content %}
              {{ block.value|richtext }}
            {% endfor %}
          </div>
          {% endif %}

          {% if chapter.content %}
          <div class="content-written-chapter">
            <!-- TODO: Render markdown too -->
            {% for block in chapter.content %}
              {{ block.value|richtext }}
            {% endfor %}
          </div>
          {% endif %}

          <!-- TEMP: Check if page is “quiz” (temporary fix) -->
          {% if segment.title|slice:":6" == "[Quiz]" %}
            {% include 'partials/quiz.html' %}
          {% endif %}
          
        </section>
      {% endif %}

      <!-- TODO: Hide materials if current segment is a “quiz” -->
      {% if segment_materials or chapter_materials or course_materials %}
        {% include 'partials/materials.html' %}
      {% endif %}

      <!-- TODO: Consider need to check segment before adding arrows -->
      {% if segment %}
        {% include 'partials/chapter-arrows.html' %}
      {% endif %}

    </section>
  </div>
</section>