<footer class="grid">
  <div class="info">

    <p>
      <small>
        We only collect data if you
        <a href="{% url 'account_login' %}">sign&nbsp;in</a>
        (email and course progress for certificates). This is optional — all content is openly available.
      </small>
    </p>

    <p>
      <small>
        Contact us via the email
        <span class="contact">
          <span class="username">&#104;&#101;&#108;&#108;&#111;</span><span class="at">&#64;</span><span class="domain">&#111;&#112;&#101;&#110;&#118;&#105;&#115;&#117;&#97;&#108;&#105;&#122;&#97;&#116;&#105;&#111;&#110;&#97;&#99;&#97;&#100;&#101;&#109;&#121;&#46;&#111;&#114;&#103;</span>
        </span>
        <button class="button quaternary" onclick="copy(this,this.previousElementSibling.textContent.trim())">
          <svg width="24" height="24" data-icon="copy" aria-hidden="true"></svg>
          <span>Copy</span> 
        </button>
        <span aria-live="polite"></span>
      </small>

      <script>
        async function copy(button, text) {

          // Get span with [aria-live="polite"]
          const span = button.nextElementSibling;

          // Clear before announcing again or for 1st time
          span.textContent = "";

          try {
            await navigator.clipboard.writeText(text);
            setTimeout(() => {
              span.textContent = "Email copied!";
            }, 100);
          } catch (error) {
            alert("Error copying email");
          }
        }
      </script>
    </p>

    <p>
      <small>
        {% comment %} TODO: Add /brand and /accessibility pages {% endcomment %}
        <a href="#">Accessibility</a> statement &amp;
        <a href="#">brand</a> assets available.

        Source code on
        <a href="https://github.com/openvisualizationacademy/ova_site" target="_blank">GitHub</a>.
      </small>
    </p>
    
  </div>
  <div>
    <a href="/">
      <picture>
        <source srcset="/static/media/logos/ova-symbol-type-light.svg" media="(prefers-color-scheme: light)" />
        <source srcset="/static/media/logos/ova-symbol-type-dark.svg" media="(prefers-color-scheme: dark)" />
        <img src="/static/media/logos/ova-symbol-type-light.svg" alt="Open Visualization Academy by Alberto Cairo" loading="lazy" />
      </picture>
    </a>
  </div>
</footer>