<footer class="grid">
  <div class="info">
    <p>
      This page is set in
      <a href="https://www.brailleinstitute.org/about-us/news/braille-institute-launches-enhanced-atkinson-hyperlegible-font-to-make-reading-easier/" target="_blank">Atkinson Hyperlegible Next</a>,
      a free typeface designed by the
      <a href="https://www.brailleinstitute.org/" target="_blank">Braille Institute</a>
      with a focus on accessibility.
    </p>
    <p>
      <small>We don’t track you or collect your data. Source code available on <a href="https://github.com/openvisualizationacademy/coming-soon" target="_blank">GitHub</a>.</small>
    </p>
  </div>
  <a href="/">
    <picture>
      <source srcset="/static/media/logos/ova-icon-type-light.svg" media="(prefers-color-scheme: light)" />
      <source srcset="/static/media/logos/ova-icon-type-dark.svg" media="(prefers-color-scheme: dark)" />
      <img src="/static/media/logos/ova-icon-type-light.svg" alt="Open Visualization Academy by Alberto Cairo" />
    </picture>
  </a>
</footer>