{% load static %}

<script type="module">
    // Import three.js and Graphics class only when this include is used, for performance
    import Graphics from "{% static 'js/imports/Graphics/Graphics.js' %}";

    const sources = [
      {
        name: "lines",
        path: "{% static 'data/lines.json' %}",
        type: "json",
      },
    ];

    // Initialize class
    window.app.graphics = new Graphics(window.app, ".graphics", sources);
</script>

<div class="graphics">
    <form onsubmit="return false">
        <!-- <div> -->
            <fieldset class="group">
                <legend class="kicker">
                    Background
                </legend>
                <div class="chips">
                    <label class="small">
                        <input type="radio" name="background" value="transparent" checked>
                        <span>None</span>
                    </label>
                    <label class="small">
                        <input type="radio" name="background" value="white">
                        <span>White</span>
                    </label>
                    <label class="small">
                        <input type="radio" name="background" value="black">
                        <span>Black</span>
                    </label>
                </div>
            </fieldset>
            <fieldset class="group">
                <legend class="kicker">
                    Aspect Ratio
                </legend>
                <div class="chips">
                    <label class="small">
                        <input type="radio" name="ratio" value="1:1" checked>
                        <span>1:1</span>
                    </label>
                    <label class="small">
                        <input type="radio" name="ratio" value="4:3">
                        <span>4:3</span>
                    </label>
                    <label class="small">
                        <input type="radio" name="ratio" value="3:2">
                        <span>3:2</span>
                    </label>
                    <label class="small">
                        <input type="radio" name="ratio" value="16:9">
                        <span>16:9</span>
                    </label>
                </div>
            </fieldset>
            <label>
                <span class="legend kicker">Lines</span>
                <div class="range">
                    <input type="range" name="lines" min="16" step="16" max="256" value="64">
                </div>
            </label>
            <label>
                <span class="legend kicker">Thickness</span>
                <div class="range">
                    <input type="range" name="thickness" min="1" step="1" max="8" value="2">
                </div>
            </label>
        <!-- </div> -->

        <!-- <button type="reset" classs="button tertiary" disabled>Reset</button> -->
        
    </form>
    <figure class="world" id="world">
        <!-- SVG will be injected by THREE -->
        <!-- <canvas class="canvas"></canvas> -->
        <div class="canvas2D"></div>
    </figure>
    <div class="actions">
        <button type="button" class="button secondary" onclick="app.world.lines.randomize()">
            <span>Random Shape</span>
        </button>
        <button class="button tertiary" onclick="app.graphics.downloadSVG()">
            {% include 'icons/download.svg' with name='download' attributes='aria-hidden="true"' %}
            <span>Download SVG</span>
        </button>
    </div>
        
</div>