<header class="grid">
  <nav>
    <a href="#main" class="button tertiary skip-to-main" onclick="document.getElementById('main').focus()">
      Skip to main
    </a>
    <div class="links">
      <a href="/">
        <div class="logo" aria-hidden="true" style="height: 7.2rem"></div>
        <span class="screen-reader">Home</span>
      </a>
    </div>
    <div class="account">
      <div class="theme-picker">
        <label title="Light theme">
          <input type="radio" name="theme" value="light">
          <span class="screen-reader">Light theme</span>
          <svg width="24" height="24" data-icon="sun-light" aria-hidden="true"></svg>
        </label>
        <label title="Dark theme">
          <input type="radio" name="theme" value="dark">
          <span class="screen-reader">Dark theme</span>
          <svg width="24" height="24" data-icon="half-moon" aria-hidden="true"></svg>
        </label>
      </div>
    </div>
  </nav>
</header>