<header class="grid">
  <nav>
    <a href="#main" class="button tertiary skip-to-main" onclick="document.getElementById('main').focus()">
      Skip to main
    </a>
    <div class="links">
      {% if minimal|default:False %}
      <a href="/">
        <div class="logo" aria-hidden="true" style="width: 7.2rem; height: 7.2rem"></div>
        <span class="screen-reader">Home</span>
      </a>
      {% else %}
      <a href="/">
        <div class="logo" aria-hidden="true"></div>
        <span class="screen-reader">Home</span>
      </a>
      <a href="#courses">Courses</a>
      <a href="#about">About</a>
      <a href="#news">News</a>
      {% endif %}
    </div>
    <div class="account">
      <div class="theme-picker">
        <label>
          <span class="screen-reader">Light theme</span>
          <input type="radio" name="theme" value="light">
          <svg width="24" height="24" data-icon="sun-light" aria-hidden="true"></svg>
        </label>
        <label>
          <span class="screen-reader">Dark theme</span>
          <input type="radio" name="theme" value="dark">
          <svg width="24" height="24" data-icon="half-moon" aria-hidden="true"></svg>
        </label>
      </div>
      {% if user.is_authenticated %}
      <a href="{% url 'account_logout' %}" class="button secondary">Sign out</a>
      {% else %}
      <a href="{% url 'account_login' %}" class="button secondary">Sign in</a>
      {% endif %}
    </div>
  </nav>
</header>