{% load static wagtailcore_tags wagtailimages_tags wagtailmarkdown %}

<div class="people instructors grid">

  <dialog closedby="any">
    <button class="button secondary" onclick="this.parentElement.close()" autofocus>
      <span class="screen-reader">Close</span>
      <svg width="24" height="24" data-icon="x-mark" aria-hidden="true"></svg>
    </button>
    <div class="details"><!-- Filled in JS --></div>
  </dialog>

  {% comment %} TODO: Get unique list of instructors, sorted alphabetically {% endcomment %}
  {% for instructor in instructors %}

    {% comment %} Card {% endcomment %}
    <div role="button" tabindex="0" class="person" data-role="instructor" onclick="app.instructors.open({{ instructor.id }})">
      <figure>

        {% if instructor.image %}
          {% with alt=instructor.image.description|default:"Profile" %}
            {% image instructor.image fill-480x480 as img %}
            <img class="media" src="{{ img.url }}" alt="{{ alt }}">
          {% endwith %}
        {% else %}
          <div class="media"></div>
        {% endif %}

        <figcaption>
          <strong>{{ instructor.name }}</strong>
          <span class="tagline small">{{ instructor.tagline }}</span>  
        </figcaption>
      </figure>
    </div>

    {% comment %} Content for dialog {% endcomment %}
    <template data-person="{{ instructor.id }}">

      <div class="person" data-role="instructor">

        {% if instructor.image %}
          {% with alt=instructor.image.description|default:"Profile" %}
            {% image instructor.image fill-480x480 as img %}
            <img class="media" src="{{ img.url }}" loading="lazy" alt="{{ alt }}">
          {% endwith %}
        {% else %}
          <div class="media"></div>
        {% endif %}
        
        <div class="info">
          <h2><strong>{{ instructor.name }}</strong></h2>
          <span class="tagline">{{ instructor.tagline }}</span>  
          <p class="bio">{{ instructor.bio }}</p>          

          {% comment %} TODO: Plurarize title if there is more than 1 course {% endcomment %}
          <h3 class="kicker">Course</h3>
          <ul class="courses small">
            {% comment %} TODO: Handle “Coming soon” courses {% endcomment %}
            {% for instructor_course in instructor.instructor_course.all %}
              <li>
                <a href="{{ instructor_course.page.url }}">{{ instructor_course.page.title }}</a>
              </li>
            {% endfor %}
          </ul>

        </div>
        <ul class="links small">
          {% for social_link in instructor.social_links %}
            <li>
              <a href="{{ social_link }}" target="_blank">
                {% comment %} Add platform icon name dynamically {% endcomment %}
                <svg width="24" height="24" data-icon="internet" aria-hidden="true"></svg>

                {% comment %} Clean link dynamically (remove protocol and trailing slash) {% endcomment %}
                <span>{{ social_link }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </template>

  {% endfor %}

</div>

  