<section class="content-materials">
  <h3>Materials</h3>

  <ul>
  {% if segment_materials %}
    {% comment %} Materials of Segment {% endcomment %}
    {% for material in segment_materials %}
      <li>
        <a href="{{ material.file.url }}" download="{{ material.title }}" target="_blank" class="button tertiary material-segment">
          {% include 'icons/download.svg' with name='download' attributes='aria-hidden="true"' %}
          <span>Section {{ material.title }}</span>
        </a>
        <small class="file-size">{{ material.file.size|filesizeformat }}</small>
      </li>
    {% endfor %}
  {% endif %}

  {% if chapter_materials %}
    {% comment %} Materials of Chapter {% endcomment %}
    {% for material in chapter_materials %}
      <li>
        <a href="{{ material.file.url }}" download="{{ material.title }}" target="_blank" class="button tertiary material-chapter">
          {% include 'icons/download.svg' with name='download' attributes='aria-hidden="true"' %}
          <span>Chapter {{ material.title }}</span>
        </a>
        <small class="file-size">{{ material.file.size|filesizeformat }}</small>
      </li>
    {% endfor %}
  {% endif %}

  {% if course_materials %}
    {% comment %} Materials of Course {% endcomment %}
    {% for material in course_materials %}
      <li>
        <a href="{{ material.file.url }}" download="{{ material.title }}" target="_blank" class="button tertiary material-course">
          {% include 'icons/download.svg' with name='download' attributes='aria-hidden="true"' %}
          <span>{{ material.title }}</span>
        </a>
        <small class="file-size">{{ material.file.size|filesizeformat }}</small>
      </li>
    {% endfor %}
  {% endif %}
  </ul>

</section>