<section id="news" class="news grid">
  <h2>News & Thoughts</h2>
  <div class="info">
    <p class="description">
      Sign up to our newsletter about information design, data reasoning, and <em>many</em> adjacent topics:
    </p>
    <a href="https://openvisualizationacademy.beehiiv.com/" target="_blank" class="button primary">
      <span>Open Newsletter</span>
      <svg class="icon" data-iconoir="open-new-window" viewBox="0 0 24 24" width="24px" height="24px" stroke-width="2" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
        <path d="M21 3L15 3M21 3L12 12M21 3V9"></path>
        <path d="M21 13V19C21 20.1046 20.1046 21 19 21H5C3.89543 21 3 20.1046 3 19V5C3 3.89543 3.89543 3 5 3H11"></path>
      </svg>
    </a>
  </div>
</section>
