{% load get_item %}

<form class="quiz" method="post">
  {% csrf_token %}

  <!-- Screen reader descriptions -->
  <div id="correct" hidden>Correct</div>
  <div id="incorrect" hidden>Wrong</div>

  {% for question in quiz.questions.all %}
    <fieldset>
      <legend>
        <span class="count kicker">
          <span aria-hidden="true">Q{{ forloop.counter }}</span>
          <span class="screen-reader">Question {{ forloop.counter }}</span>
        </span>
        {{ question }}
      </legend>

      {% with submitted_choice=answers|get_item:question.id %}
        {% for choice in question.choices.all %}

          <label class="choice">
            <input
              type="radio"
              name="{{ question.id }}"
              value="{{ choice.id }}"
              class="screen-reader"
              {% if forloop.first %}required{% endif %}

              {# Restore checked state on POST #}
              {% if submitted and submitted_choice == choice.id|stringformat:"s" %}
                checked

                {# Add semantic correctness attributes #}
                {% if choice.is_correct %}
                  aria-describedby="correct"
                {% else %}
                  aria-describedby="incorrect"
                {% endif %}
              {% endif %}
            >
            <span>{{ choice }}</span>
          </label>

        {% endfor %}
      {% endwith %}
    </fieldset>
  {% endfor %}

  <button class="button primary">Submit answers</button>

  {% if submitted %}
    <p class="quiz-score">Score: {{ score }}%</p>
  {% endif %}
</form>
