<!-- TODO: Add inline message if any questions were submitted and wrong? Where is most accessbile? -->

<form class="quiz" method="post">

  <fieldset>
    <legend class="question">Question 1 goes here</legend>

    <label class="alternative">
      <input type="radio" name="q1" value="a1" class="screen-reader" required/>
      <span>First alternative</span>
    </label>
    <label class="alternative incorrect">
      <input type="radio" name="q1" value="a2" class="screen-reader" />
      <span>Second alternative</span>
    </label>
    <label class="alternative">
      <input type="radio" name="q1" value="a3" class="screen-reader" />
      <span>Third alternative</span>
    </label>
  </fieldset>

  <fieldset>
    <legend>Question 2 goes here</legend>

    <label class="alternative">
      <input type="radio" name="q2" value="a1" class="screen-reader" required/>
      <span>First alternative</span>
    </label>
    <label class="alternative">
      <input type="radio" name="q2" value="a2" class="screen-reader" />
      <span>Second alternative</span>
    </label>
    <label class="alternative correct">
      <input type="radio" name="q2" value="a3" class="screen-reader" />
      <span>Third alternative</span>
    </label>
  </fieldset>

  <fieldset>
    <legend>Question 3 goes here</legend>

    <label class="alternative">
      <input type="radio" name="q3" value="a1" class="screen-reader" required/>
      <span>First alternative</span>
    </label>
    <label class="alternative">
      <input type="radio" name="q3" value="a2" class="screen-reader" />
      <span>Second alternative</span>
    </label>
    <label class="alternative">
      <input type="radio" name="q3" value="a3" class="screen-reader" />
      <span>Third alternative</span>
    </label>
  </fieldset>

  <button class="button primary">Submit answers</button>

</form>