{% load get_item %}

{% if submitted %}
  <p class="quiz-score">
    Score: {{ score }}%
  </p>
{% endif %}

<form class="quiz" method="post">
  {% csrf_token %}

  <!-- Screen reader announcements -->
  <div id="correct" hidden>Correct</div>
  <div id="incorrect" hidden>Wrong</div>

  {% for question in quiz.questions.all %}
    {% with qid=question.id %}
      {% with submitted_choice=answers|get_item:qid %}
        {% with is_correct=answer_results|get_item:qid %}

          <fieldset {% if submitted and is_correct %}disabled{% endif %}>
            <legend>
              <span class="count kicker">
                <span aria-hidden="true">Q{{ forloop.counter }}</span>
                <span class="screen-reader">
                  Question {{ forloop.counter }}
                </span>
              </span>
              {{ question }}
            </legend>

            {% if submitted and answers %}
              {% for choice in question.choices.all %}
                <label class="choice">
                  <input
                    type="radio"
                    name="{{ question.id }}"
                    value="{{ choice.id }}"
                    class="screen-reader"

                    {% if submitted_choice == choice.id %}
                      {% if is_correct %}
                        aria-describedby="correct"
                        checked
                      {% else %}
                        aria-describedby="incorrect"
                        disabled
                      {% endif %}
                    {% endif %}
                  >
                  <span>{{ choice }}</span>

                  {% if submitted_choice == choice.id %}
                    {% if is_correct %}
                      <svg width="24" height="24" data-icon="check" aria-hidden="true"></svg>
                    {% else %}
                      <svg width="24" height="24" data-icon="x-mark" aria-hidden="true"></svg>
                    {% endif %}
                  {% endif %}
                </label>
              {% endfor %}
            {% else %}
              {% for choice in question.choices.all %}
                <label class="choice">
                  <input
                    type="radio"
                    name="{{ question.id }}"
                    value="{{ choice.id }}"
                    class="screen-reader"
                    {% if forloop.first %}required{% endif %}
                  >
                  <span>{{ choice }}</span>
                </label>
              {% endfor %}
            {% endif %}

          </fieldset>

        {% endwith %}
      {% endwith %}
    {% endwith %}
  {% endfor %}

  <button class="button primary">Submit answers</button>
</form>
