<div class="sponsors grid">
  <a href="https://miami.edu/" target="_blank">
    <picture>
      <source srcset="/static/media/logos/um-light.svg" media="(prefers-color-scheme: light)" />
      <source srcset="/static/media/logos/um-dark.svg" media="(prefers-color-scheme: dark)" />
      <img src="/static/media/logos/um-light.svg" alt="University of Miami" />
    </picture>
    <p class="smaller">
      Frost Institute for Data Science & Computing<span class="screen-reader">.</span><br>
      School of Communication
    </p>
  </a>
  <a href="https://knightfoundation.org/" target="_blank">
    <picture>
      <source srcset="/static/media/logos/kf-light.svg" media="(prefers-color-scheme: light)" />
      <source srcset="/static/media/logos/kf-dark.svg" media="(prefers-color-scheme: dark)" />
      <img src="/static/media/logos/kf-light.svg" alt="Knight Foundation" />
    </picture>
  </a>
  <div class="spacer"></div>
</div>