{% load static wagtailcore_tags %}

<title>
  {% comment %} Write course titles as single line, to work better in WhatsApp preview {% endcomment %}
  {% if chapter_number and segment_number %}
    {{ chapter_number }}.{{ segment_number }} {{ page.seo_title|default:page.title }}{% if course.title %} - {{ course.title }}{% endif %}
  {% elif page %}
    {{ page.seo_title|default:page.title }}
  {% endif %} 

  {% comment %} FIX: Hard-coded titles for sign-in pages {% endcomment %}
  {% if request.path == "/accounts/login/" %}
    Sign in
  {% elif request.path == "/accounts/login/code/confirm/" %}
    Confirm code
  {% endif %}
  
  {% comment %} For error pages {% endcomment %}
  {% block error_title %}{% endblock %}
  
  {% comment %} For all pages except the home {% endcomment %}
  {% if request.path != "/" %}
    {% wagtail_site as current_site %}
    {% if current_site and current_site.site_name %}
      - {{ current_site.site_name }}
    {% endif %}
  {% endif %}
  
</title>