<div class="video-embed" style="padding:{{ segment.aspect_ratio|default:'56.25' }}% 0 0 0">
  <iframe src="https://player.vimeo.com/video/{{ vimeo_id }}?dnt=1&badge=0&autopause=0&player_id=0&app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" title="Video"></iframe>
</div>
<script src="https://player.vimeo.com/api/player.js"></script>

{% if user.is_authenticated %}
  <div class="video-progress-wrapper">
    <div class="video-progress"></div>
  </div>
  
  {% comment %} Pass this through so we can update the progress bar in JS {% endcomment %}
  <script>
    window.segmentPercentWatched = {{ segment_progress|default:0 }};
  </script>
{% endif %}
