[data-page="about"] figure img {
  border: 1px solid var(--neutral-300);
  border: 1px solid light-dark(var(--neutral-300), var(--neutral-800));
  border-radius: .8rem;
}

[data-page="about"] .dark-background {
  background-color: var(--neutral-900);
  background-image: repeating-conic-gradient(var(--neutral-800) 0 25%, transparent 0 50%);
  background-position: center;
  background-size: 1.6rem 1.6rem;
}

[data-page="about"] .light-background {
  background-color: var(--neutral-100);
  background-image: repeating-conic-gradient(var(--neutral-200) 0 25%, transparent 0 50%);
  background-position: center;
  background-size: 1.6rem 1.6rem;
}

[data-page="about"] table {
  border-collapse: collapse;
  margin-block: var(--gutter);
  width: 100%;
}

[data-page="about"] th,
[data-page="about"] td {
  padding: 0;
  vertical-align: top;
}

[data-page="about"] tbody td {
  width: 25%;
}

[data-page="about"] th {
  border-block-end: 1px solid var(--neutral-300);
  border-block-end: 1px solid light-dark(var(--neutral-300), var(--neutral-800));
  padding-block: 1.6rem;
  text-align: start;
}

[data-page="about"] tr:first-child td {
  color: var(--neutral-700);
  color: light-dark(var(--neutral-700), var(--neutral-300));
  padding-block: 1.6rem;
}

[data-page="about"] :is(h2, h3, h4, h5) {
  margin-block-start: 2em;
}

[data-page="about"] p {
  color: var(--neutral-700);
  color: light-dark(var(--neutral-700), var(--neutral-300));
}

[data-page="about"] figure {
  margin: 0;
  padding: 0;
}

[data-page="about"] .palette {
  display: flex;
}

[data-page="about"] .color {
  height: 2em;
  width: 2em;
}

[data-page="about"] .tags {
  display: flex;
  gap: 0.8rem;
}

[data-page="about"] .tag {
  align-items: center;
  display: inline-flex;
  font-weight: 500;
}

[data-page="about"] .tag[data-tag="all"] {
  color: var(--tag-all);
}

[data-page="about"] .tag[data-tag="Fundamentals"] {
  color: var(--tag-fundamentals);
}

[data-page="about"] .tag[data-tag="Lecture"] {
  color: var(--tag-lecture);
}

[data-page="about"] .tag[data-tag="Tutorial"] {
  color: var(--tag-tutorial);
}

[data-page="about"] table [data-icon] {
  display: none;
}

[data-page="about"] tbody tr:first-child {
  display: none;
}

@media (min-width: 480px) {
  [data-page="about"] table [data-icon] {
    display: block;
  }
  [data-page="about"] tbody tr:first-child {
    display: table-row;
  }
}
