
.background {
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 1920px;
  filter: var(--image-filter);
  image-rendering: pixelated;
  inset: 0;
  mask-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  opacity: .2;
  pointer-events: none;
  position: fixed;
  z-index: -1;
}

.background::after {
  background: radial-gradient(circle, var(--neutral-100) 50%, transparent 100%);
  content: "";
  inset: 0;
  opacity: .75;
  pointer-events: none;
  position: fixed;
  z-index: -1;
}

@media (prefers-reduced-motion: reduce) {
  .background {
    background-image: none;
  }
}