.button {
  align-items: center;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 999px;
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  gap: 0rem;
  letter-spacing: 0.01em;
  outline-offset: 0.4rem;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
}

.button.primary {
  background-color: var(--primary-600);
  background-color: light-dark(var(--primary-600), var(--primary-600));
  color: var(--neutral-100);
  color: light-dark(var(--neutral-100), var(--neutral-100));
  padding: 1.2rem 1.6rem;
  text-shadow: 0 0 1em var(--primary-900);
  text-shadow: 0 0 1em light-dark(var(--primary-900), var(--primary-900));
}

.button.secondary {
  background-color: var(--neutral-800);
  background-color: light-dark(var(--neutral-800), var(--neutral-200));
  color: var(--neutral-100);
  color: light-dark(var(--neutral-100), var(--neutral-900));
  padding: 0.6rem 1.2rem;
}

.button.tertiary {
  background-color: var(--neutral-100);
  background-color: light-dark(var(--neutral-100), var(--neutral-900));
  border: 1px solid var(--neutral-300);
  border: 1px solid light-dark(var(--neutral-300), var(--neutral-800));
  color: var(--neutral-800);
  color: light-dark(var(--neutral-800), var(--neutral-200));
  font-size: var(--font-size-small);
  padding: 0.6rem 1.2rem;

  &:focus-visible,
  &:active {
    border: 1px solid currentColor;
  }
}

.button.quaternary {
  background-color: var(--neutral-100);
  background-color: light-dark(var(--neutral-100), var(--neutral-900));
  border: 1px solid var(--neutral-300);
  border: 1px solid light-dark(var(--neutral-300), var(--neutral-800));
  bottom: -.3rem;
  color: var(--neutral-800);
  color: light-dark(var(--neutral-800), var(--neutral-200));
  font-size: var(--font-size-small);
  padding: .3rem .6rem;
  position: relative;

  [data-icon] {
    height: 1.6rem;
    width: 1.6rem;
  }

  &:focus-visible,
  &:active {
    border: 1px solid currentColor;
  }
}

.button span {
  padding-inline: .8rem;
}

@media (hover: hover) {
  .button.primary:hover {
    background-color: var(--primary-700);
    background-color: light-dark(var(--primary-700), var(--primary-700));
  }

  .button.tertiary:hover,
  .button.quaternary:hover {
    border: 1px solid currentColor;
  }
}
