.certificate {
  align-items: start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.certificate > small {
  color: light-dark(var(--neutral-700), var(--neutral-300));
  padding-inline: 1.6rem;
}

.certificate .button {
  animation: 1s infinite glow alternate ease-out;
  box-shadow: 0 0 2.4rem light-dark(var(--success-300), var(--success-900));
  margin-block-start: .8rem;
  overflow: visible;

  /* mix-blend-mode: luminosity; */
}

@keyframes glow {
  100% {
    box-shadow: 0 0 0 light-dark(var(--success-300), var(--success-900));
  }
}

.bubbles {
  align-items: end;
  display: flex;
  inset: 0 1.6rem;
  justify-content: space-around;
  pointer-events: none;
  position: absolute;
  translate: 0 -83.333%;
}

.bubbles > div {
  animation: floatUp 3s infinite ease-in;
  aspect-ratio: 1;
  background: light-dark(var(--success-600), var(--success-500));
  border-radius: 50%;
  width: .2rem;
}

@keyframes floatUp {
  0% {
    opacity: 0;
    scale: 0;
  }
  25% {
    opacity: .75;
    scale: 1;
  }
  100% {
    opacity: 0;
    scale: .25;
    translate: 0 -400%;
  }
}

.certificate-frame {
  margin-block: calc(1.6rem + .2rem);
  margin-inline: .6rem;
  position: relative;
  rotate: 0deg;
  transform-origin: center top;
  transition: rotate .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.certificate-frame::before {
  background-color: currentColor;
  border-radius: .4rem;
  content: "";
  display: block;
  height: .8rem;
  inset-block-start: calc(-.2rem - .2rem);
  inset-inline-start: 50%;
  position: absolute;
  translate: -50%;
  width: .8rem;
}

.certificate-dummy {
  border: .8rem solid light-dark(var(--neutral-200), var(--neutral-800));
  box-shadow: 0 0 0 .2rem currentColor;
  filter: drop-shadow(0 .4rem .4rem rgba(0,0,0,.25));
  pointer-events: none;
  position: relative;
  user-select: none;
  width: 12rem;
  z-index: 1;
}

.certificate dialog[open] {
  border: 1px solid currentColor;
  border-radius: 1.6rem;
  margin-inline: auto;
  max-width: calc(var(--max-width) / 2);
  overflow: visible;
  padding: 1.6rem;
  width: calc(100% - calc(var(--margin) * 1));
}

body:has(.certificate dialog[open]) {
  filter: blur(8px);
}

.certificate dialog::backdrop {
  background: light-dark(var(--neutral-100), var(--neutral-900));
  opacity: .75;
}

.certificate dialog form {
  padding: 1.6rem;
}

.certificate dialog > .button {
  aspect-ratio: 1;
  inset-block-start: -1.6rem;
  inset-inline-start: 0;
  margin: 0;
  padding: .6rem;
  position: absolute;
  translate: 0 -100%;
}

/* Borrow kicker style, but reduces padding */
.certificate dialog form label:has(+ input[type="text"]) {
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: .02em;
  line-height: 1;
  padding-inline: .4rem;
  text-transform: uppercase;
  text-wrap: balance;
}

.certificate dialog form input[type="text"] {
  border: 1px solid currentColor;
  border-radius: .8rem;
  display: block;
  font-family: inherit;
  font-size: inherit;
  margin-block: .8rem;
  max-width: 100%;
  outline-offset: .4rem;
  padding: .8rem;
  width: 32ch;
}

/* Generating “spinner” */

.certificate .submit-container {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: start;
  margin-block-start: 2.4rem;
  width: 100%;
}

.certificate .submit-container [aria-live] {
  color: light-dark(var(--neutral-700), var(--neutral-300));
  display: flex;
  margin: 0;
  position: relative;
}

@media (hover: hover) {
  .certificate-frame:hover {
    cursor: pointer;
    rotate: 3.75deg;
  }
}

@media (prefers-reduced-motion: reduce) {
  .bubbles {
    display: none;
  }

  .certificate .button {
    animation: none;
  }

  .certificate .submit-container [aria-live]:not(:empty)::before {
    display: none;
  }
}

@media (min-width: 640px) {
  .people dialog[open] {
    width: calc(100% - calc(var(--margin) * 2));
  }

  .certificate .submit-container {
    align-items: center;
    flex-direction: row;
    margin-block-start: 4.8rem;
  }
}

@media (min-width: 1024px) {
  .certificate {
    align-items: end;
  }

  .certificate .button {
    margin-block-start: 0;
  }

  .certificate-frame {
    inset-block-end: calc(-.8rem - .2rem);
    inset-inline-end: 0;
    margin-block: 0;
    position: absolute;
    translate: 0 100%;
  }
}

@media (min-width: 1440px) {
  .certificate {
    align-items: start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block-start: .8rem;
  }

  .certificate .button {
    margin-block-start: 0;
  }

  .certificate-frame {
    inset-block-end: initial;
    inset-inline-end: 0;
    margin-block: 0;
    position: absolute;
    translate: 0 0;
  }
}

/* Force light theme if browser does not support light-dark rules */
@supports not (color: light-dark(black, white)) {
  .certificate small {
    color: var(--neutral-700);
  }
}