main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 12rem - 2.4rem - 1.6rem);
}

#about {
  margin: 4.8rem auto;
}

.sponsors {
  margin-block-end: 0;
}

.coming-soon {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textShine 2s ease-in-out infinite alternate;
  background: linear-gradient(to right, var(--primary-500), var(--primary-600), var(--primary-700), var(--primary-800));
  background-clip: text;
  background-size: 200% auto;
  text-fill-color: transparent;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

@media (prefers-reduced-motion: reduce) {
  .coming-soon {
    animation: none;
    color: var(--primary-700);
  }
}
