.vimeo-embed iframe {
  border-radius: .4rem;
  box-shadow: 0 0 0 1px light-dark(var(--neutral-300), var(--neutral-800));
  background: #000000;
}

section.course-page {
  margin-block-start: 0;
}

.course-page .media {
  aspect-ratio: 16/9;
  background: light-dark(var(--neutral-150), var(--neutral-850));
  border-radius: 1.6rem;
  grid-column: span 3;
  width: 100%;
}

.course-page .course {
  grid-column: span 6;
  max-width: 100%;
}

.course-page .course .card {
  border: 1px solid light-dark(transparent, transparent);
  border-radius: 0;
}

.course-page .course .secondary {
  justify-content: start;
}

.course-page .course h1 {
  padding: .8rem 1.6rem 1.6rem;
  text-wrap: balance;
}

.course-page .tracker {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  grid-column: span 3;
}

.course-page .progress {
  align-items: center;
  background: light-dark(var(--neutral-150), var(--neutral-850));
  border-radius: 1.6rem;
  display: flex;
  gap: 1.6rem;
  height: min-content;
  padding: 1.6rem;
  width: 100%;
}

.course-page .progress.completed {
  background: light-dark(var(--success-300), var(--success-900));
}

.course-page .progress .donut {
  --inner-color: light-dark(var(--neutral-150), var(--neutral-850));
  --percentage: 0%;
  align-items: center;
  border-radius: 50%;
  color: light-dark(var(--success-600), var(--success-500));
  display: flex;
  height: 4.8rem;
  justify-content: center;
  position: relative;
  width: 4.8rem;

background:
    radial-gradient(
      closest-side,
      var(--inner-color) 75%,
      transparent 75% 100%
    ),
    conic-gradient(
      light-dark(var(--success-600), var(--success-500)) var(--percentage),
      light-dark(var(--neutral-300), var(--neutral-700)) 0
    );
  /* TODO: Replace radial-gradient by mask when it has better support */
  /* mask: radial-gradient(circle, transparent 50%, black 50%); */
}

.course-page .progress.completed .donut {
  --inner-color: light-dark(var(--success-300), var(--success-900));
}

.course-page .progress p {
  margin: 0;
}

.course-page .progress:not(.completed) .percentage {
  color: light-dark(var(--success-600), var(--success-500));
}

.course-page .certificate {
  display: flex;
  justify-content: end;
  width: 100%;
}

.course-page .certificate small {
  color: light-dark(var(--neutral-600), var(--neutral-400));
  padding-inline: 1.6rem;
}

.course-page .sticky-wrapper {
  align-items: start;
  border-block-start: 1px solid light-dark(var(--neutral-300), var(--neutral-800));
  grid-column: span 12;
}

.course-page  .sticky-wrapper section {
  margin-block: 4.8rem;
  padding-block: 2.4rem;
}

.course-page .chapters {
  grid-column: span 4;
  position: sticky;
  top: 0;
  width: 100%;
}

.course-page .chapters header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-block-end: 2.4rem;
  padding: 0;
  width: 100%;
}

.course-page .chapters header h2 {
  margin: 0;
}

/* .course-page .chapters .arrows {
  display: flex;
  gap: 0;
  margin-top: -.6rem;
}

.course-page .chapters .arrows a {
  padding-block: calc(.6rem - .1rem);
  padding-inline: .8rem;
  position: relative;
}

.course-page .chapters .arrows a:focus-visible,
.course-page .chapters .arrows a:hover {
  z-index: 1;
}

.course-page .chapters .arrows a:first-child {
  border-end-end-radius: 0;
  border-start-end-radius: 0;
  translate: 1px;
}

.course-page .chapters .arrows a:last-child {
  border-end-start-radius: 0;
  border-start-start-radius: 0;
} */

.course-page .chapters a {
  text-decoration: none;
}

.course-page .chapters ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.course-page .chapters > ol {
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

.course-page .chapters ol a {
  border-radius: 1.6rem;
  display: flex;
  margin-block: .2rem;
  padding-block: .4rem;
  padding-inline: 1.2rem 3.2rem;
  position: relative;
  text-decoration: none;
  text-wrap: pretty;
}

.course-page .chapters ol ol {
  display: flex;
  flex-direction: column;
  gap: .4rem;
  margin-block-end: 1.6rem;
  padding-inline-start: 2px;
}

.course-page .chapters ol li a svg[data-icon] {
  border-radius: 50%;
  pointer-events: none;
  position: absolute;
  inset-inline-end: .4rem;
  inset-block-start: .4rem;
}

.course-page .chapters ol li a svg[data-icon="check-circle"] path {
  color: light-dark(var(--neutral-100), var(--neutral-900));
}

.course-page .chapters ol li a svg[data-icon="check-circle"] circle {
  fill: light-dark(var(--success-600), var(--success-500));
  color: light-dark(var(--success-600), var(--success-500));
}

.course-page .chapters ol li a svg[data-icon="circle"] {
  color: light-dark(var(--neutral-300), var(--neutral-700));
}

.course-page .chapters .chapter.kicker {
  color: light-dark(var(--neutral-600), var(--neutral-400));
  line-height: 1.25;
  margin: 0;
  margin-block-end: .4rem;
  padding-inline: 0;
}

.course-page .chapters ol a.active {
  box-shadow: 0 0 0 2px light-dark(var(--neutral-900), var(--neutral-100));
}

/* Adapted from https://mark.ie/blog/nested-lists-in-css-with-a-numbered-hierarchy */
/* .course-page .chapters {  
  ol {
    counter-reset: section;
  }
  ol > li {
    counter-increment: section;
  }
  ol > li::before {
    content: counter(section) ". ";
  }
  ol > li > ol {
    counter-reset: subsection;
  }
  ol > li > ol > li {
    counter-increment: subsection;
  }
  ol > li > ol > li::before {
    content: counter(section) "." counter(subsection) " ";
  }
   } */

.course-page .content {
  grid-column: span 8;
  padding-inline-start: 1.6rem;
  position: sticky;
  inset-block-start: 0;
  width: 100%;
}

.course-page .content .arrows {
  display: flex;
  gap: .8rem;
  margin-block-start: 4.8rem;
}

#sign-in-description {
  background: light-dark(var(--neutral-200), var(--neutral-800));
  border-radius: 1.6rem;
  grid-column: span 3;
  height: min-content;
  margin: 0;
  padding: 1.6rem;
  position: relative;
  text-wrap: balance;
  transition: background-color .2s, color .2s;
}

#sign-in-description::before {
  background: light-dark(var(--neutral-200), var(--neutral-800));
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  content: "";
  display: block;
  height: 1.2rem;
  position: absolute;
  inset-inline-end: 2.4rem;
  inset-block-start: 0;
  transition: background-color .2s;
  translate: 0 -100%;
  width: 2.4rem;
}

#sign-in-description.warning,
#sign-in-description.warning::before {
  background: light-dark(var(--primary-200), var(--primary-300));
  color: light-dark(var(--neutral-800), var(--neutral-800));
}

.course-page .overview {
  align-items: baseline;
  margin-block: 0;
  margin-inline: auto;
  width: 100%;
}

.course-page .overview .content-updated {
  color: light-dark(var(--neutral-600), var(--neutral-400));
  grid-column: span 3;
  margin: 0;
}

.course-page .overview details {
  grid-column: span 9;
  width: 100%;
}

.course-page .overview summary {
  border-radius: 1.6rem;
  cursor: pointer;
  padding-block: .8rem;
  padding-inline: 1.6rem;
  user-select: none;
  width: fit-content;
}

.course-page .overview summary span {
  padding-inline: .5em;
}

.course-page .overview details > div {
  color: light-dark(var(--neutral-600), var(--neutral-400));
  padding-inline: 1.6rem;
}

.course-page .overview details > div p {
  text-wrap: pretty;
}

.course-page .overview details > div p:first-child {
  margin-block-start: .5em;
}

.course-page .overview details > div *:last-child {
  margin-block-end: 0;
}

.course-page .quiz-badge {
  align-items: baseline;
  align-self: start;
  background: light-dark(var(--neutral-300), var(--neutral-700));
  border-radius: .4rem;
  color: light-dark(var(--neutral-900), var(--neutral-100));
  display: flex;
  margin-inline-end: .6rem;
  padding-block: .6rem .4rem;
  padding-inline: .6rem;
}

.course-page .completed .quiz-badge {
  background: light-dark(var(--success-600), var(--success-500));
  color: light-dark(var(--neutral-100), var(--neutral-900));
}

@media (hover: hover) {
  .course-page .chapters ol a:not(.active):hover {
    box-shadow: 0 0 0 2px light-dark(var(--neutral-300), var(--neutral-700));

    /* background: light-dark(var(--neutral-200), var(--neutral-800)); */
    /* border-color: currentColor; */
  }
  /* .course-page .chapters ol a:hover::before {
    background: currentColor;
  }

  .course-page .chapters > ol > li > a:hover::after {
    background: currentColor;
  } */
}
