section.course-page {
  margin-block-start: 0;
}

.course-page .media {
  aspect-ratio: 16/9;
  background: light-dark(var(--neutral-200), var(--neutral-800));
  border-radius: 1.6rem;
  grid-column: span 3;
  opacity: 0.5;
  width: 100%;
}

.course-page .course {
  grid-column: span 6;
  max-width: 100%;
}

.course-page .course .card {
  border: 1px solid light-dark(transparent, transparent);
  border-radius: 0;
}

.course-page .course .secondary {
  justify-content: start;
}

.course-page .course h1 {
  padding: .8rem 1.6rem 1.6rem;
  text-wrap: balance;
}

#sign-in-description {
  background: light-dark(var(--primary-200), var(--primary-800));
  border-radius: 1.6rem;
  grid-column: span 3;
  height: min-content;
  margin: 0;
  padding: 1.6rem;
  position: relative;
  text-wrap: balance;
}

#sign-in-description::before {
  background-color: light-dark(var(--primary-200), var(--primary-800));
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  content: "";
  display: block;
  height: 1.2rem;
  position: absolute;
  right: 2.4rem;
  top: 0;
  translate: 0 -100%;
  width: 2.4rem;
}