section.course-page {
  margin-block-start: 0;
}

.course-page .media {
  aspect-ratio: 16/9;
  background: light-dark(var(--neutral-200), var(--neutral-800));
  border-radius: 1.6rem;
  grid-column: span 3;
  opacity: 0.5;
  width: 100%;
}

.course-page .course {
  grid-column: span 6;
  max-width: 100%;
}

.course-page .course .card {
  border: 1px solid light-dark(transparent, transparent);
  border-radius: 0;
}

.course-page .course .secondary {
  justify-content: start;
}

.course-page .course h1 {
  padding: .8rem 1.6rem 1.6rem;
  text-wrap: balance;
}

.course-page .tracker {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  grid-column: span 3;
}

.course-page .progress {
  align-items: center;
  background: light-dark(var(--neutral-200), var(--neutral-800));
  border-radius: 1.6rem;
  display: flex;
  gap: 1.6rem;
  height: min-content;
  padding: 1.6rem;
  width: 100%;
}

.course-page .progress.completed {
  background: light-dark(var(--success-300), var(--success-900));
}

.course-page .progress .donut {
  --inner-color: light-dark(var(--neutral-200), var(--neutral-800));
  --percentage: 0%;
  align-items: center;
  border-radius: 50%;
  color: light-dark(var(--success-600), var(--success-500));
  display: flex;
  height: 4.8rem;
  justify-content: center;
  position: relative;
  width: 4.8rem;

  background:
    radial-gradient(
      closest-side,
      var(--inner-color) 75%,
      transparent 75% 100%
    ),
    conic-gradient(
      light-dark(var(--success-600), var(--success-500)) var(--percentage),
      light-dark(var(--neutral-300), var(--neutral-700)) 0
    );
  /* TODO: Replace radial-gradient by mask when it has better support */
  /* mask: radial-gradient(circle, transparent 50%, black 50%); */
}

.course-page .progress.completed .donut {
  --inner-color: light-dark(var(--success-300), var(--success-900));
}

.course-page .progress p {
  margin: 0;
}

.course-page .progress:not(.completed) .percentage {
  color: light-dark(var(--success-600), var(--success-500));
}

.course-page .certificate {
  display: flex;
  justify-content: end;
  width: 100%;
}

.course-page .certificate small {
  color: light-dark(var(--neutral-600), var(--neutral-400));
  padding-inline: 1.6rem;
}

.course-page .sticky-wrapper {
  align-items: start;
  grid-column: span 12;
}

.course-page  .sticky-wrapper section {
  margin-block: 4.8rem;
  padding-block: 2.4rem;
}

.course-page .chapters {
  grid-column: span 3;
  position: sticky;
  top: 0;
  width: 100%;
}

.course-page .chapters header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-block-end: 2.4rem;
  padding: 0;
  width: 100%;
}

.course-page .chapters header h2 {
  margin: 0;
}

.course-page .chapters .arrows {
  display: flex;
  gap: 0;
  margin-top: -.6rem;
}

.course-page .chapters .arrows a {
  padding-block: calc(.6rem - .1rem);
  padding-inline: .8rem;
  position: relative;
}

.course-page .chapters .arrows a:focus-visible,
.course-page .chapters .arrows a:hover {
  z-index: 1;
}

.course-page .chapters .arrows a:first-child {
  border-end-end-radius: 0;
  border-start-end-radius: 0;
  translate: 1px;
}

.course-page .chapters .arrows a:last-child {
  border-end-start-radius: 0;
  border-start-start-radius: 0;
}

.course-page .chapters a {
  text-decoration: none;
}

.course-page .chapters ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.course-page .chapters ol a {
  border-radius: 1.6rem;
  display: flex;
  padding-block: .6rem;
  padding-inline: 1.6rem 3.2rem;
  position: relative;
  text-decoration: none;
}

.course-page .chapters ol ol {
  padding-inline-start: 2.4rem;
}

.course-page .chapters ol a::before {
  background: light-dark(var(--neutral-300), var(--neutral-700));
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  right: calc(1.6rem + .1rem);
  top: 0;
  width: .2rem;
}

.course-page .chapters > ol > li:first-child > a::before {
  top: 50%;
}

.course-page .chapters > ol > li:last-child > a::before {
  bottom: 50%;
}

.course-page .chapters > ol > li > a::after {
  aspect-ratio: 1;
  background: light-dark(var(--neutral-300), var(--neutral-700));
  border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
  right: calc(1.6rem + .2rem);
  top: 50%;
  translate: 50% -50%;
  width: 1.2rem;
}

.course-page .chapters ol li a.completed::before {
  right: calc(1.6rem - .1rem);
  width: .6rem;

  /* right: calc(1.6rem + 0rem);
  width: .4rem; */
}

.course-page .chapters ol li a.completed::before,
.course-page .chapters ol li a.completed::after {

  background: light-dark(var(--success-600), var(--success-500))
}

/* Adapted from https://mark.ie/blog/nested-lists-in-css-with-a-numbered-hierarchy */
/* .course-page .chapters {  
  ol {
    counter-reset: section;
  }
  ol > li {
    counter-increment: section;
  }
  ol > li::before {
    content: counter(section) ". ";
  }
  ol > li > ol {
    counter-reset: subsection;
  }
  ol > li > ol > li {
    counter-increment: subsection;
  }
  ol > li > ol > li::before {
    content: counter(section) "." counter(subsection) " ";
  }
   } */

.course-page .content {
  grid-column: span 9;
  padding-inline-start: 1.6rem;
  position: sticky;
  top: 0;
  width: 100%;
}

.course-page .content .arrows {
  display: flex;
  gap: .8rem;
  margin-block-start: 4.8rem;
}

#sign-in-description {
  background: light-dark(var(--neutral-200), var(--neutral-800));
  border-radius: 1.6rem;
  grid-column: span 3;
  height: min-content;
  margin: 0;
  padding: 1.6rem;
  position: relative;
  text-wrap: balance;
  transition: background-color .2s, color .2s;
}

#sign-in-description::before {
  background: light-dark(var(--neutral-200), var(--neutral-800));
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  content: "";
  display: block;
  height: 1.2rem;
  position: absolute;
  right: 2.4rem;
  top: 0;
  transition: background-color .2s;
  translate: 0 -100%;
  width: 2.4rem;
}

#sign-in-description.warning,
#sign-in-description.warning::before {
  background: light-dark(var(--primary-200), var(--primary-300));
  color: light-dark(var(--neutral-800), var(--neutral-800));
}

@media (hover: hover) {
  .course-page .chapters ol a:hover {
    background: light-dark(var(--neutral-200), var(--neutral-800));

    /* border-color: currentColor; */
  }
  /* .course-page .chapters ol a:hover::before {
    background: currentColor;
  }

  .course-page .chapters > ol > li > a:hover::after {
    background: currentColor;
  } */
}
