.courses .widget {
  grid-column: span 12;
}

.courses .filters {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  margin-block-end: 2.4rem;
}

.courses .filters label {
  align-items: center;
  background: light-dark(var(--neutral-100), var(--neutral-900));
  border: 1px solid light-dark(var(--neutral-300), var(--neutral-800));
  border-radius: 999px;
  cursor: pointer;
  display: flex;
  font-weight: 500;
  gap: 0.6rem;
  padding: 0.6rem 1.2rem;
  user-select: none;
}

.courses .filters label::after {
  content: "(" attr(data-count) ")";
  font-weight: 400;
}

.courses .filters label:has(input:focus-visible) {
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: 0.4rem;
}

.courses .filters input:not(:checked) + span,
.courses .filters label:has(input:not(:checked)) {
  color: light-dark(var(--neutral-700), var(--neutral-300)) !important;
}

.courses .filters input:not([value="all"]) + span::before {
  /* content: "" / "Tag: "; */
}

.courses .filters label::before {
  border: 1px solid light-dark(var(--neutral-300), var(--neutral-800));
  border-radius: 999px;
  content: "";
  display: block;
  height: 0.666em;
  width: 0.666em;
}

.courses .filters label:has(input:checked) {
  border: 1px solid light-dark(var(--neutral-900), var(--neutral-100));
}

.courses .filters label:has(input:checked)::before {
  background: currentColor;
  border: 1px solid currentColor;
}

.courses .filters input {
  appearance: none;
  position: absolute;
  width: 0;
}

.courses .cards {
  display: grid;
  gap: var(--gutter);
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  list-style: none;
  margin-block: 0;
  padding-inline: 0;
}

.course {
  display: flex;
  max-width: 49.6rem;
}

.course .card {
  background-color: light-dark(var(--neutral-100), var(--neutral-900));
  border: 1px solid light-dark(var(--neutral-300), var(--neutral-800));
  border-radius: 1.6rem;
  color: inherit;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: space-between;
  overflow: hidden;
  text-decoration: none;
  transition: border 0.2s;
  width: 100%;
}

.course p {
  margin: 0;
}

.course h3 {
  border-top: 1px solid light-dark(var(--neutral-300), var(--neutral-800));
  font-size: var(--font-size-h5);
  padding: 1.6rem;
  text-wrap: balance;
}

.authors {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
  padding: 0 1.6rem;
}

.author {
  align-items: center;
  display: flex;
  gap: 0.8rem;
  white-space: nowrap;
}

.author img {
  align-self: center;
  aspect-ratio: 1;
  background: light-dark(var(--neutral-200), var(--neutral-800));
  border-radius: 50%;
  box-shadow: 0 0 0 1px light-dark(var(--neutral-300), var(--neutral-800));
  display: inline-flex;
  flex-shrink: 0;
  height: 2.4rem;
  width: 2.4rem;
}

.author:not(:has(img))::before {
  align-self: center;
  aspect-ratio: 1;
  background: light-dark(var(--neutral-200), var(--neutral-800));
  border-radius: 50%;
  box-shadow: 0 0 0 1px light-dark(var(--neutral-300), var(--neutral-800));
  content: "";
  display: inline-flex;
  flex-shrink: 0;
  width: 2.4rem;
}

.course .secondary {
  display: flex;
  gap: 2.4rem;
  justify-content: space-between;
  padding: 1.6rem;
}

.course .tags {
  display: flex;
  gap: 0.8rem;
}

.course .tag {
  align-items: center;
  border-radius: 0.8rem;
  display: inline-flex;
  font-weight: 500;
  padding: 0;
}

.courses [data-tag="all"],
.course [data-tag="all"] {
  color: var(--tag-all);
}

.courses [data-tag="Fundamentals"],
.course [data-tag="Fundamentals"] {
  color: var(--tag-fundamentals);
}

.courses [data-tag="Lecture"],
.course [data-tag="Lecture"] {
  color: var(--tag-lecture);
}

.courses [data-tag="Tutorial"],
.course [data-tag="Tutorial"] {
  color: var(--tag-tutorial);
}

/* .course .tag::before {
  content: "" / "Tag: ";
} */

.course .duration {
  align-items: baseline;
  color: light-dark(var(--neutral-700), var(--neutral-300));
  display: flex;
}

.course .completed-badge {
  align-items: baseline;
  align-self: start;
  background: light-dark(var(--success-600), var(--success-500));
  border-radius: .4rem;
  color: light-dark(var(--neutral-100), var(--neutral-900));
  display: flex;
  margin-inline-end: .6rem;
  padding-block: .6rem .4rem;
  padding-inline: .6rem;
}

.courses .cta {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem .4rem;
  grid-column: span 12;
  justify-content: center;
  margin-block-start: 4.8rem;
}

.courses .cta .button.primary {
  background: var(--tag-fundamentals);
  color-scheme: light;
}

.courses .cta small {
  display: block;
  padding: 0 1.2rem;
}

@media (hover: hover) {
  .courses .filters label:hover {
    border: 1px solid light-dark(var(--neutral-900), var(--neutral-100));
  }

  .course a:hover {
    border: 1px solid light-dark(var(--neutral-900), var(--neutral-100));
  }
}

/* Force light theme if browser does not support light-dark rules */
@supports not (color: light-dark(black, white)) {
  .courses .filters label {
    background: var(--neutral-100);  
    border: 1px solid var(--neutral-300);
  }

  .courses .filters input:not(:checked) + span,
  .courses .filters label:has(input:not(:checked)) {
    color: var(--neutral-700) !important;
  }

  .courses .filters label::before {
    border: 1px solid var(--neutral-300);
  }

  .courses .filters label:has(input:checked) {
    border: 1px solid var(--neutral-900);
  }

  .course .card {
    background-color: var(--neutral-100);
    border: 1px solid var(--neutral-300);
  }

  .course h3 {
    border-top: 1px solid var(--neutral-300);
  }

  .author img {
    background: var(--neutral-200);
    box-shadow: 0 0 0 1px var(--neutral-300);
  }

  .author:not(:has(img))::before {
    background: var(--neutral-200);
    box-shadow: 0 0 0 1px var(--neutral-300);
  }

  .course .duration {
    color: var(--neutral-700);
  }
  
  .course .completed-badge {
    background: var(--success-600);
    color: var(--neutral-100);
  }

  @media (hover: hover) {
    .courses .filters label:hover {
      border: 1px solid var(--neutral-900);
    }

    .course a:hover {
      border: 1px solid var(--neutral-900);
    }
  }
}