section.course-page {
  margin-block-start: 0;
}

.media[data-tags] {
  aspect-ratio: 16/9;
  background: light-dark(var(--neutral-100), var(--neutral-900));
  background-size: cover;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.media img {
  image-rendering: pixelated;
  inset: 0;
  max-width: 100%;
  object-fit: cover;
  opacity: .75;
  position: absolute;
  width: 100%;
}

.media[data-tags]::after {
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, .25), rgba(0, 0, 0, .75));
  content: "";
  display: block;
  inset: 0;
  mask-image: linear-gradient(rgba(0, 0, 0, .25), rgba(0, 0, 0, .75));
  pointer-events: none;
  position: absolute;
}

/* TEMP: Thumbnail overlays based on tags */
.media[data-tags="Fundamentals"]::after {
  background: var(--tag-fundamentals);
}

.media[data-tags="Lecture"]::after {
  background: var(--tag-lecture);
}

.media[data-tags="Tutorial"]::after {
  background: var(--tag-tutorial);
}

.media[data-tags="Fundamentals,Lecture"]::after {
  background-image: linear-gradient(to right in oklab, var(--tag-fundamentals), var(--tag-lecture));
}

.media[data-tags="Fundamentals,Tutorial"]::after {
  background-image: linear-gradient(to right in oklab, var(--tag-fundamentals), var(--tag-tutorial));
}

.media[data-tags="Lecture,Tutorial"]::after {
  background-image: linear-gradient(to right in oklab, var(--tag-lecture), var(--tag-tutorial));
}

/* Provide simpler gradient to older browsers (like Safari 15) */
@supports not (background: linear-gradient(to right in oklab, red, blue)) {
  .media[data-tags="Fundamentals,Lecture"]::after {
    background-image: linear-gradient(to right , var(--tag-fundamentals), var(--tag-lecture));
  }

  .media[data-tags="Fundamentals,Tutorial"]::after {
    background-image: linear-gradient(to right , var(--tag-fundamentals), var(--tag-tutorial));
  }

  .media[data-tags="Lecture,Tutorial"]::after {
    background-image: linear-gradient(to right , var(--tag-lecture), var(--tag-tutorial));
  }
}

[data-page="course"] .media {
  border-radius: 1.6rem;
  display: none;
  grid-column: span 3;
  order: 1;
}

[data-page="course"] .course {
  grid-column: span 12;
  max-width: 100%;
  order: 2;
}

[data-page="course"] .course .card {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 0;
}

[data-page="course"] .course .secondary {
  justify-content: start;
  padding-block-end: 0;
  padding-inline: 0;
}

[data-page="course"] .course h1 {
  padding: .8rem 0 1.6rem;
  text-wrap: balance;
}

[data-page="course"] .course .kicker {
  display: none;
  padding-inline: 0;
}

[data-page="course"] .course .authors {
  padding-inline: 0;
}

.tracker {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  grid-column: span 12;
  order: 3;
}

.progress {
  align-items: center;
  background: light-dark(var(--neutral-150), var(--neutral-850));
  border-radius: 1.6rem;
  display: flex;
  gap: 1.6rem;
  height: min-content;
  padding: 1.6rem;
  width: fit-content;
}

.progress.completed {
  background: light-dark(var(--success-300), var(--success-900));
}

.progress .donut {
  --inner-color: light-dark(var(--neutral-150), var(--neutral-850));
  --percent: 0%;
  --radius: 2.4rem;
  --ratio: calc(1 - (var(--thickness) / var(--radius)));
  --thickness: .8rem;
  --thickness-percent: calc(100% * var(--ratio));
  align-items: center;
  border-radius: 50%;
  color: light-dark(var(--success-600), var(--success-500));
  display: flex;
  height: calc(var(--radius) * 2);
  justify-content: center;
  position: relative;
  width: calc(var(--radius) * 2);
  background:
    radial-gradient(
      closest-side,
      var(--inner-color) var(--thickness-percent),
      transparent var(--thickness-percent) 100%
    ),
    conic-gradient(
      light-dark(var(--success-600), var(--success-500)) var(--percent),
      light-dark(var(--neutral-300), var(--neutral-700)) 0
    );
    
  /* TODO: Replace radial-gradient by mask when it has better support */
  /* mask: radial-gradient(circle, transparent 50%, black 50%); */
}

.progress.completed .donut {
  --inner-color: light-dark(var(--success-300), var(--success-900));
}

.progress p {
  margin: 0;
}

.progress:not(.completed) .percent {
  color: light-dark(var(--success-600), var(--success-500));
}

.certificate {
  display: flex;
  display: none;
  justify-content: start;
  width: 100%;
}

.certificate small {
  color: light-dark(var(--neutral-700), var(--neutral-300));
  padding-inline: 1.6rem;
}

.sticky-wrapper {
  align-items: baseline;
  border-block-start: 1px solid light-dark(var(--neutral-300), var(--neutral-800));
  grid-column: span 12;
  order: 5;
}

.sticky-wrapper .chapters,
.sticky-wrapper .content {
  margin-block: 2.4rem;
  padding-block: 2.4rem;
}

.chapters {
  grid-column: span 12;
  order: 2;
  width: 100%;
  z-index: 1;
}

.chapters header {
  align-items: center;
  display: flex;
  gap: 1.6rem;
  justify-content: flex-start;
  margin-block-end: 2.4rem;
  padding: 0;
  width: 100%;
}

.chapters header h2 {
  margin: 0;
}

/* .course-page .chapters .arrows {
  display: flex;
  gap: 0;
  margin-top: -.6rem;
}

.course-page .chapters .arrows a {
  padding-block: calc(.6rem - .1rem);
  padding-inline: .8rem;
  position: relative;
}

.course-page .chapters .arrows a:focus-visible,
.course-page .chapters .arrows a:hover {
  z-index: 1;
}

.course-page .chapters .arrows a:first-child {
  border-end-end-radius: 0;
  border-start-end-radius: 0;
  translate: 1px;
}

.course-page .chapters .arrows a:last-child {
  border-end-start-radius: 0;
  border-start-start-radius: 0;
} */

.chapters a {
  text-decoration: none;
}

.chapters ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chapters nav > ol {
  display: flex;
  flex-direction: column;
  gap: .4rem;
  width: calc(100% - 1.6rem);
}

.chapters ol a {
  border-radius: .8rem;
  display: flex;
  margin-block: .2rem;
  padding-block: .4rem;
  padding-inline: .8rem 3.2rem;
  position: relative;
  text-decoration: none;
  text-wrap: pretty;
}

.chapters ol a:not(.active) {
  color: light-dark(var(--neutral-700), var(--neutral-300));
}

.chapters ol ol {
  display: flex;
  flex-direction: column;
  gap: .4rem;
  margin-block-end: 1.6rem;
  padding-inline-start: 2px;
}

.chapters ol ol li:not(:last-child) a::before {
  --width: 1.2rem;
  background: light-dark(var(--neutral-200), var(--neutral-800));
  content: "";
  display: block;
  inset-block-end: -2.4rem;
  inset-block-start: 1.6rem;
  inset-inline-end: calc(1.6rem - var(--width) / 2);
  position: absolute;
  width: var(--width);
  z-index: -1;
}

.chapters ol li.compact ol li:not(:last-child) a::before {
  height: var(--width);
  inset-block-end: unset;
  inset-block-start: 1rem;
  inset-inline-start: calc(1rem + var(--width) / 2);
  width: 3.6rem;
}

.chapters ol li a svg[data-icon] {
  border-radius: 50%;
  inset-block-start: .4rem;
  inset-inline-end: .4rem;
  pointer-events: none;
  position: absolute;
}

section.course-page svg[data-icon="check-circle"] path {
  color: light-dark(var(--neutral-100), var(--neutral-900));
}

section.course-page svg[data-icon="check-circle"] circle {
  color: light-dark(var(--success-600), var(--success-500));
  fill: light-dark(var(--success-600), var(--success-500));
}

.chapters ol li a svg[data-icon="circle"] {
  color: light-dark(var(--neutral-400), var(--neutral-600));
  fill: light-dark(var(--neutral-400), var(--neutral-600));
  scale: calc(24/22 * .5);
}

.chapters ol li a:has(.quiz-badge) svg[data-icon="circle"] {
  scale: .75;
}

.chapters ol li a:has(.quiz-badge) svg[data-icon="circle"] {
  color: light-dark(var(--info-400), var(--info-600));
  fill: light-dark(var(--info-400), var(--info-600));
}

.chapters .chapter.kicker {
  line-height: 1.25;
  margin: 0;
  margin-block-end: .4rem;
  padding-inline: 0 3.2rem;
}

.chapters .chapter.kicker .single-segment {
  display: none;
}

.chapters ol a.active {
  box-shadow: 0 0 0 2px light-dark(var(--neutral-900), var(--neutral-100));
}

.chapters ol a.active::after {
  animation: swingHorizontal 1s 6 alternate ease-in-out;
  background-color: light-dark(var(--primary-600), var(--primary-600));
  clip-path: polygon(0 50%, 100% 100%, 100% 0%);
  content: "";
  display: block;
  height: 1.6rem;
  inset: 1.6rem -.6rem 0 auto;
  position: absolute;
  translate: 100% -50%;
  width: .8rem;
}

.chapters li.compact ol a.active::after {
  animation: swingVertical .5s 6 alternate ease-in-out;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  height: .8rem;
  inset: auto auto -.6rem 50%;
  translate: -50% 100%;
  width: 1.6rem;
}

@keyframes swingHorizontal {
  0% {
    translate: 100% -50%;
  }
  100% {
    translate: 125% -50%;
  }
}

@keyframes swingVertical {
  0% {
    translate: -50% 100%;
  }
  100% {
    translate: -50% 125%;
  }
}

@media (prefers-reduced-motion: reduce) {
  .chapters ol a.active::after {
    animation: none;
  }
}

@media (hover: hover) {
  .chapters ol a.active:hover::after {
    animation: swing 1s infinite alternate ease-in-out;
  }
}

.chapters ol a span.tooltip {
  display: inline-flex;
}

/* Adapted from https://mark.ie/blog/nested-lists-in-css-with-a-numbered-hierarchy */
/* .course-page .chapters {  
  ol {
    counter-reset: section;
  }
  ol > li {
    counter-increment: section;
  }
  ol > li::before {
    content: counter(section) ". ";
  }
  ol > li > ol {
    counter-reset: subsection;
  }
  ol > li > ol > li {
    counter-increment: subsection;
  }
  ol > li > ol > li::before {
    content: counter(section) "." counter(subsection) " ";
  }
   } */

.chapters ol li.compact ol {
  flex-direction: row;
  flex-wrap: wrap;
}

.chapters ol li.compact ol a {
  height: 3.2rem;
  padding-inline: 0rem;
  width: 3.2rem;

  /* overflow: hidden; */
}

.chapters li.compact .chapter.kicker .single-segment {
  display: inline;
}

.chapters ol li.compact ol a span.tooltip {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media (hover: hover) {
  .chapters ol li.compact ol a:hover span.tooltip {
    background: light-dark(var(--neutral-800), var(--neutral-200));
    border-radius: .8rem;
    clip-path: none;
    color: light-dark(var(--neutral-100), var(--neutral-900));
    display: flex;
    height: auto;
    inset-block-start: -.8rem;
    inset-inline-start: -2px;
    max-width: calc(80vi);
    overflow: visible;
    padding: .4rem .8rem;
    translate: 0 -100%;
    white-space: initial;
    width: max-content;
  }

  .chapters ol li.compact ol a:hover span.tooltip:has(.quiz-badge) {
    padding: .4rem .8rem .4rem .4rem;
  }
}

.chapters + .content {
  grid-column: span 12;
  order: 1;
  width: 100%;
}

/* Hide outline, like when /#main links */
.chapters + .content #main:target {
  outline: none;
}

.chapters + .content .number.kicker {
  color: light-dark(var(--neutral-700), var(--neutral-300));
  font-size: 1.8rem;
  margin-inline-end: .5em;
  padding-inline: 0;
}

.chapters + .content .arrows {
  display: flex;
  gap: .8rem;
  margin-block-start: 4.8rem;
}

.chapters + .content h4 {
  margin-block-end: 1.2rem;
  margin-block-start: 3.2rem;
}

.content h2 {
  align-items: baseline;
  display: flex;
}

.content h2 span {
  text-wrap: pretty;
}

.content h2 svg[data-icon] {
  margin-inline-start: .8rem;
  translate: 0 .2rem;
}

#sign-in-description {
  background: light-dark(var(--neutral-200), var(--neutral-800));
  border-radius: 1.6rem;
  grid-column: span 12;
  height: min-content;
  justify-self: end;
  margin: 0;
  order: 0;
  padding: 1.6rem;
  position: relative;
  text-wrap: pretty;
  transition: background-color .2s, color .2s;
  width: fit-content;
}

#sign-in-description::before {
  background: light-dark(var(--neutral-200), var(--neutral-800));
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  content: "";
  display: block;
  height: 1.2rem;
  inset-block-start: 0;
  inset-inline-end: 2.4rem;
  position: absolute;
  transition: background-color .2s;
  translate: 0 -100%;
  width: 2.4rem;
}

#sign-in-description.warning,
#sign-in-description.warning::before {
  background: light-dark(var(--primary-200), var(--primary-300));
  color: light-dark(var(--neutral-800), var(--neutral-800));
}

section.overview {
  align-items: baseline;
  margin-block: 0;
  margin-inline: auto;
  order: 4;
  width: 100%;
}

.overview .content-updated {
  color: light-dark(var(--neutral-700), var(--neutral-300));
  display: none;
  grid-column: span 3;
  margin: 0;
}

.overview details {
  grid-column: span 12;
  width: 100%;
}

.overview summary {
  border-radius: 1.6rem;
  cursor: pointer;
  padding-block: .8rem;
  padding-inline: 0;
  user-select: none;
  width: fit-content;
}

.overview summary span {
  padding-inline: .5em;
}

.overview details > div {
  color: light-dark(var(--neutral-700), var(--neutral-300));
  padding-inline: 0;
}

.overview details > div p {
  text-wrap: pretty;
}

.overview details > div p:first-child {
  margin-block-start: .5em;
}

.overview details > div *:last-child {
  margin-block-end: 0;
}

.quiz-badge {
  align-items: baseline;
  align-self: start;
  background: light-dark(var(--info-300), var(--info-700));
  border-radius: .4rem;
  color: light-dark(var(--neutral-900), var(--neutral-100));
  display: inline-flex;
  margin-inline-end: .6rem;
  padding-block: .6rem .4rem;
  padding-inline: .6rem;

  /* background: light-dark(var(--neutral-300), var(--neutral-700)); */
}

.completed .quiz-badge {
  background: light-dark(var(--success-600), var(--success-500));
  color: light-dark(var(--neutral-100), var(--neutral-900));
}

.content .content-written {
  margin-block: 0;
}

.content-written a {
  color: light-dark(var(--info-800), var(--info-400));
  word-break: break-word;
}

.content .content-materials ul {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  list-style: none;
  padding-inline-start: 0;
}

.content-materials li {
  align-items: start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: .4rem .8rem;
}

.content-materials li span {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content-materials li .file-size {
  color: light-dark(var(--neutral-700), var(--neutral-300));
  padding-inline: .8rem;
}

@media (hover: hover) {
  .chapters ol a:not(.active):hover {
    box-shadow: 0 0 0 2px light-dark(var(--neutral-400), var(--neutral-600));

    /* background: var(--neutral-200);
    /* background: light-dark(var(--neutral-200), var(--neutral-800)); */
    /* border-color: currentColor; */
  }
  /* .course-page .chapters ol a:hover::before {
    background: currentColor;
  }

  .course-page .chapters > ol > li > a:hover::after {
    background: currentColor;
  } */
}

@media (min-width: 480px) {
  .content-materials li {
    align-items: center;
    flex-direction: row;
  }
  .content-materials li .file-size {
    padding-inline: 0;
  }
}

@media (min-width: 1024px) {
  [data-page="course"] .media {
    display: block;
    order: unset;
  }

  [data-page="course"] .course .primary > * {
    padding-inline: 1.6rem;
  }

  [data-page="course"] .course .secondary {
    padding-block-end: 1.6rem;
    padding-inline: 1.6rem;
  }

  [data-page="course"] .course {
    grid-column: span 6;
    order: unset;
  }

  [data-page="course"] .tracker {
    grid-column: span 3;
    order: unset;
  }

  [data-page="course"] .tracker .progress {
    width: 100%;
  }

  [data-page="course"] .tracker .certificate {
    display: flex;
    justify-content: end;
  }

  #sign-in-description {
    grid-column: span 3;
    order: unset;
    text-wrap: balance;
    width: 100%;
  }

  .overview .content-updated {
    display: block;
  }

  .overview details {
    grid-column: span 9;
  }

  .overview details summary,
  .overview details > div {
    padding-inline: 1.6rem;
  }

  section.overview {
    order: unset;
  }

  [data-page="course"] .course .kicker {
    display: inline;
  }

  .sticky-wrapper {
    order: unset;
  }

  .sticky-wrapper .chapters,
  .sticky-wrapper .content {
    margin-block: 4.8rem;
  }

  .chapters {
    grid-column: span 4;
    inset-block-start: 0;
    order: unset;
    position: sticky !important;
  }

  .chapters + .content {
    grid-column: span 8;
    inset-block-start: 0;
    order: unset;
    padding-inline-start: 1.6rem;
    position: sticky;
  }

  .chapters nav > ol {
    width: calc(100% - .8rem);
  }
}

/* Force light theme if browser does not support light-dark rules */
@supports not (color: light-dark(black, white)) {
  .media[data-tags] {
    background: var(--neutral-100);
  }

  .progress {
    background: var(--neutral-150);
  }

  .progress.completed {
    background: var(--success-300);
  }

  .progress .donut {
    --inner-color: var(--neutral-150);
    color: var(--success-600);

background:
      radial-gradient(
        closest-side,
        var(--inner-color) 75%,
        transparent 75% 100%
      ),
      conic-gradient(
        var(--success-600) var(--percent),
        var(--neutral-300) 0
      );
  }

  .progress.completed .donut {
    --inner-color: var(--success-300);
  }

  .progress:not(.completed) .percent {
    color: var(--success-600);
  }

  .certificate small {
    color: var(--neutral-700);
  }

  .sticky-wrapper {
    border-block-start: 1px solid var(--neutral-300);
  }

  .chapters ol a:not(.active) {
    color: var(--neutral-700);
  }

  .chapters ol ol li:not(:last-child) a::before {
    background: var(--neutral-200);
  }

  section.course-page svg[data-icon="check-circle"] path {
    color: var(--neutral-100);
  }

  section.course-page svg[data-icon="check-circle"] circle {
    color: var(--success-600);
    fill: var(--success-600);
  }

  .chapters ol li a svg[data-icon="circle"] {
    color: var(--neutral-400);
    fill: var(--neutral-400);
  }

  .chapters ol li a:has(.quiz-badge) svg[data-icon="circle"] {
    color: var(--info-400);
    fill: var(--info-400);
  }

  .chapters ol a.active {
    box-shadow: 0 0 0 2px var(--neutral-900);
  }

  .chapters ol a.active::after {
    background-color: var(--primary-600);
  }

  @media (hover: hover) {
    .chapters ol li.compact ol a:hover span.tooltip {
      background: var(--neutral-800);
      color: var(--neutral-100);
    }
  }

  .chapters + .content .number.kicker {
    color: var(--neutral-700);
  }

  #sign-in-description {
    background: var(--neutral-200);
  }

  #sign-in-description::before {
    background: var(--neutral-200);
  }

  #sign-in-description.warning,
  #sign-in-description.warning::before {
    background: var(--primary-200);
    color: var(--neutral-800);
  }

  .overview .content-updated {
    color: var(--neutral-700);
  }

  .overview details > div {
    color: var(--neutral-700);
  }

  .quiz-badge {
    background: var(--info-300);
    color: var(--neutral-900);
  }

  .completed .quiz-badge {
    background: var(--success-600);
    color: var(--neutral-100);
  }

  .content-written a {
    color: var(--info-800);
  }

  .content-materials li .file-size {
    color: var(--neutral-700);
  }

  @media (hover: hover) {
    .chapters ol a:not(.active):hover {
      box-shadow: 0 0 0 2px var(--neutral-400);
    }
  }
}