.courses {
}

.courses .widget {
  grid-column: span 12;
}

.courses .filters {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  margin-block-end: 2.4rem;
}

.courses .filters label {
  align-items: center;
  background: light-dark(var(--neutral-100), var(--neutral-900));
  border: 1px solid light-dark(var(--neutral-300), var(--neutral-800));
  border-radius: 999px;
  cursor: pointer;
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  gap: 0.6rem;
  letter-spacing: 0.025em;
  padding: 0.6rem 1.2rem;
  user-select: none;
}

.courses .filters label:has(input:focus-visible) {
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: 0.4rem;
}

.courses .filters input:not(:checked) + span {
  color: light-dark(var(--neutral-600), var(--neutral-400)) !important;
}

.courses .filters input:not([value="all"]) + span::before {

  /* content: "" / "Tag: "; */
}

.courses .filters label::before {
  border: 1px solid light-dark(var(--neutral-300), var(--neutral-800));
  border-radius: 999px;
  content: "";
  display: block;
  height: 0.666em;
  width: 0.666em;
}

.courses .filters label:has(input:checked) {
  border: 1px solid currentColor;
}

.courses .filters label:has(input:checked)::before {
  background: light-dark(var(--neutral-900), var(--neutral-100));
  border: 1px solid light-dark(var(--neutral-900), var(--neutral-100));
  box-shadow: 0 0 1.6rem 0.2rem light-dark(transparent, currentColor);
}

.courses .filters input {
  appearance: none;
  position: absolute;
  width: 0;
}

.courses .cards {
  display: grid;
  gap: var(--gutter);
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  list-style: none;
  margin-block: 0;
  padding-inline: 0;
}

.course {
  display: flex;
  max-width: 49.6rem;
}

.course .card {
  border: 1px solid light-dark(var(--neutral-300), var(--neutral-800));
  border-radius: 1.6rem;
  color: inherit;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: space-between;
  overflow: hidden;
  text-decoration: none;
  transition: border 0.2s;
  width: 100%;
}

.course .media {
  aspect-ratio: 16/9;
  background: light-dark(var(--neutral-150), var(--neutral-850));
  width: 100%;
}

.course p {
  margin: 0;
}

.course h3 {
  border-top: 1px solid light-dark(var(--neutral-300), var(--neutral-800));
  padding: 1.6rem;
  text-wrap: balance;
}

.authors {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.6rem;
  gap: 1.6rem;
  padding: 0 1.6rem;
}

.author {
  align-items: center;
  display: flex;
  gap: 0.8rem;
  white-space: nowrap;
}

.author img {
  align-self: center;
  aspect-ratio: 1;
  background: light-dark(var(--neutral-200), var(--neutral-800));
  border-radius: 50%;
  box-shadow: 0 0 0 1px light-dark(var(--neutral-300), var(--neutral-800));
  display: inline-flex;
  flex-shrink: 0;
  height: 2.4rem;
  width: 2.4rem;
}

.author:not(:has(img))::before {
  align-self: center;
  aspect-ratio: 1;
  background: light-dark(var(--neutral-200), var(--neutral-800));
  border-radius: 50%;
  box-shadow: 0 0 0 1px light-dark(var(--neutral-300), var(--neutral-800));
  content: "";
  display: inline-flex;
  flex-shrink: 0;
  width: 2.4rem;
}

.course .secondary {
  display: flex;
  font-size: 1.4rem;
  gap: 2.4rem;
  justify-content: space-between;
  letter-spacing: 0.025em;
  padding: 1.6rem;
}

.course .tags {
  display: flex;
  gap: 0.8rem;
}

.course .tag {
  align-items: center;
  border-radius: 0.8rem;
  display: inline-flex;
  font-weight: 500;
  padding: 0;
}

.tag[data-tag="all"] {
  color: var(--tag-all);
}

.tag[data-tag="Fundamentals"] {
  color: var(--tag-fundamentals);
}

.tag[data-tag="Lecture"] {
  color: var(--tag-lecture);
}

.tag[data-tag="Tutorial"] {
  color: var(--tag-tutorial);
}

/* .course .tag::before {
  content: "" / "Tag: ";
} */

.course .duration {
  align-items: baseline;
  color: light-dark(var(--neutral-600), var(--neutral-400));
  display: flex;
}

.course .duration .icon {
  height: 1em;
  margin-inline: 0.25em;
  translate: 0 0.05em;
  width: 1em;
}

.course .completed-badge {
  align-items: baseline;
  align-self: start;
  background: light-dark(var(--success-600), var(--success-500));
  border-radius: .4rem;
  color: light-dark(var(--neutral-100), var(--neutral-900));
  display: flex;
  margin-inline-end: .6rem;
  padding-block: .6rem .4rem;
  padding-inline: .6rem;
}

@media (hover: hover) {
  .courses .filters label:hover {
    border: 1px solid light-dark(var(--neutral-900), var(--neutral-100));
  }

  .course a:hover {
    border: 1px solid light-dark(var(--neutral-900), var(--neutral-100));
  }
}