.cover {
  grid-column: span 12;
  padding-block-end: 4.8rem;
  position: relative;
}

.cover .heading {
  grid-column: span 12;
  order: 1;
}

.cover .info {
  grid-column: span 12;
  order: 2;
}

.cover .preview {
  grid-column: span 12;
  margin: 0;
  order: 3;
}

.cover .cta {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem .4rem;
  grid-column: span 12;
  justify-content: center;
  margin-block-start: 4.8rem;
  order: 4;
}

.cover h1 {
  line-height: 0;
  margin-block-end: 2.4rem;
  pointer-events: none;
  position: relative;
  z-index: 1;
}

.cover h1 svg {
  width: clamp(28.8rem, 60vi, 44.8rem);
}

.cover .description {
  margin: 0;
  max-width: 36ch;
  text-wrap: balance;
}

.cover .preview video {
  aspect-ratio: 16/9;
  border-radius: 1.6rem;
  box-shadow: 0 0 0 1px light-dark(var(--neutral-200), var(--neutral-800));
  display: block;
  margin-block: 3.2rem 1.2rem;
  outline: none;
  width: 100%;
}

.cover .preview .controls {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.cover .preview [data-control] svg {
  width: 2rem;
}

.cover .preview .video-wrapper {
  position: relative;
}

.cover .preview .video-wrapper [data-control] {
  bottom: 2.4rem;
  left: 2.4rem;
  position: absolute;
}

.cover .preview .secondary {
  display: flex;
  gap: 2.4rem;
  justify-content: space-between;
  letter-spacing: 0.025em;
  margin: 0;
  padding: 0.6rem 1.2rem;
}

.cover .preview .duration {
  align-items: baseline;
  color: light-dark(var(--neutral-700), var(--neutral-300));
  display: flex;
  text-align: end;
  white-space: nowrap;
}

.cover .cta .button.primary {
  background: var(--tag-fundamentals);
}

.cover .cta small {
  display: block;
  padding: 0 1.2rem;
}

@media (min-width: 960px) {

  .cover .heading,
  .cover .info,
  .cover .preview,
  .cover .cta {
    order: unset;
  }

  .cover .heading,
  .cover .info {
    grid-column: span 6;
  }

  .cover .preview,
  .cover .cta {
    grid-column: span 4 / -1;
  }

  .cover .preview video {
    margin-block: 2.4rem 1.2rem;
  }

  .cover .cta {
    justify-content: end;
    margin: 0;
  }
}
