footer {
  border-block-start: 1px solid light-dark(var(--neutral-300), var(--neutral-800));
  padding-block: var(--gutter);
}

footer.grid .info {
  grid-column: span 12;
  padding-block: 2.4rem;
  text-wrap: balance;
}

footer.grid .info p {
  margin-block: 1em;
}

footer.grid .info small {
  color: light-dark(var(--neutral-700), var(--neutral-300));
}

footer.grid div:has(a picture) {
  grid-column: span 12;
}

footer.grid a img {
  display: block;
  max-width: 32rem;
  place-self: center;
}

footer .contact {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textShine 2s ease-in-out infinite alternate;
  background: linear-gradient(to right, var(--primary-500), var(--primary-600), var(--primary-700), var(--primary-800));
  background-clip: text;
  background-size: 200% auto;
  color: light-dark(var(--neutral-800), var(--neutral-200));
  font-weight: 700;
  margin-inline-end: .5em;
  text-fill-color: transparent;
}

footer .button.quaternary {
  font-size: unset;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

@media (prefers-reduced-motion: reduce) {
  footer .contact {
    animation: none;
    color: var(--primary-700);
  }
}

@media (min-width: 480px) {
  footer.grid a img {
    place-self: start;
  }
}

@media (min-width: 1024px) {
  footer.grid .info {
    grid-column: span 9;
  }

  footer.grid div:has(a picture) {
    grid-column: span 3;
  }

  footer.grid .info p {
    margin-block: .5em;
  }
}

/* Force light theme if browser does not support light-dark rules */
@supports not (color: light-dark(black, white)) {
  footer {
    border-block-start: 1px solid var(--neutral-300);
  }

  footer.grid .info small {
    color: var(--neutral-700);
  }

  footer .contact {
    color: var(--neutral-800);
  }
}