footer {
  border-block-start: 1px solid light-dark(var(--neutral-300), var(--neutral-800));
  padding-block: var(--gutter);
}

footer.grid .info {
  grid-column: span 9;
  padding-block: 2.4rem;
  text-wrap: balance;
}

footer.grid .info p {
  margin-block: .5em;
}

footer.grid .info small {
  color: light-dark(var(--neutral-600), var(--neutral-400));
}

footer.grid a:has(picture) {
  grid-column: span 3;
}