html {
  overflow-x: clip;
  scroll-behavior: smooth;
  scroll-padding-top: 2.4rem;
}

html {
  font-size: calc((8 / 16) * 100%);
}

body {
  background: light-dark(var(--neutral-100), var(--neutral-900));
  color: light-dark(var(--neutral-800), var(--neutral-200));
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: 400;
  line-height: 1.333;
  overflow-x: clip;
  text-underline-offset: .1em;

  /* line-height: 2.4rem; */
}

video::cue {
  font-family: var(--font-family);
}

.background {
  --radius: 1px;
  background: light-dark(var(--neutral-100), var(--neutral-900));
  background-image: radial-gradient(circle, light-dark(var(--neutral-300), var(--neutral-800)) var(--radius), transparent 1px);
  background-position: center calc(1.2rem - var(--radius));
  background-size: 2.4rem 2.4rem;
  inset: 0;
  pointer-events: none;
  position: fixed;
  z-index: -1;
}

.background::before {
  background: linear-gradient(light-dark(var(--neutral-100), var(--neutral-900)), transparent 66.666%);
  content: "";
  inset: 0;
  pointer-events: none;
  position: fixed;
  z-index: -1;
}

@media (prefers-reduced-motion: reduce) {
  .background {
    background-image: none;
  }
}

header {
  position: relative;
  z-index: 2;
}

main {
  position: relative;
  z-index: 1;

  /* overflow-x: hidden; */
}

a {
  color: inherit;
}

section:not(.cover) {
  margin: 9.6rem auto;
  position: relative;
}

section h2 {
  grid-column: span 12;
  margin-block-end: 3.2rem;
}

.grid {
  display: grid;
  gap: var(--gutter);
  grid-template-columns: repeat(12, 1fr);
  margin-inline: auto;
  max-width: var(--max-width);
  place-self: center;
  width: calc(100% - calc(var(--margin) * 2));
}

.grid .grid {
  width: 100%;
}

.grid > * {
  grid-column: span 12;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@media (min-width: 340px) {
  html {
    font-size: calc((9 / 16) * 100%);
  }
}

@media (min-width: 375px) {
  html {
    font-size: calc((10 / 16) * 100%);
  }
}