html {
  scroll-behavior: smooth;
  scroll-padding-top: 2.4rem;
}

body {
  background: light-dark(var(--neutral-100), var(--neutral-900));
  color: light-dark(var(--neutral-800), var(--neutral-200));
  font-family: var(--font-family);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
  overflow-x: hidden;
  text-underline-offset: .1em;
}

video::cue {
  font-family: var(--font-family);
}

.background {
  --radius: 1px;
  background: light-dark(var(--neutral-100), var(--neutral-900));
  background-image: radial-gradient(circle, light-dark(var(--neutral-300), var(--neutral-800)) var(--radius), transparent 1px);
  background-position: center calc(1.2rem - var(--radius));
  background-size: 2.4rem 2.4rem;
  inset: 0;
  pointer-events: none;
  position: fixed;
  z-index: -1;
}

.background::before {
  background: linear-gradient(light-dark(var(--neutral-100), var(--neutral-900)), transparent 66.666%);
  content: "";
  inset: 0;
  pointer-events: none;
  position: fixed;
  z-index: -1;
}

@media (prefers-reduced-motion: reduce) {
  .background {
    background-image: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
}

h1, h2 {
  line-height: 1;
}

small {
  font-size: 1.6rem;
}

sup {
  line-height: 0;
}

.kicker {
  font-size: small;
  font-weight: 500;
  letter-spacing: .05em;
  line-height: 1;
  padding-inline: 1.6rem;
  text-transform: uppercase;
  text-wrap: balance;
}

header {
  position: relative;
  z-index: 2;
}

main {
  position: relative;
  z-index: 1;

  /* overflow-x: hidden; */
}

a {
  color: inherit;
}

section:not(.cover) {
  margin: 9.6rem auto;
  position: relative;
}

section h2 {
  grid-column: span 12;
  margin-block-end: 3.2rem;
}

.grid {
  display: grid;
  gap: var(--gutter);
  grid-template-columns: repeat(12, 1fr);
  margin-inline: auto;
  max-width: var(--max-width);
  place-self: center;
  width: calc(100% - calc(var(--margin) * 2));
}

.grid .grid {
  width: 100%;
}

.grid > * {
  grid-column: span 12;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
