@font-face {
  font-display: swap;
  font-family: "AtkinsonHyperlegibleNextVF";
  font-style: normal;
  font-weight: 100 900;

  src: url("../../fonts/AtkinsonHyperlegibleNextVF-Variable.woff2") format("woff2 supports variations"),
    url("../../fonts/AtkinsonHyperlegibleNextVF-Variable.woff2") format("woff2-variations");
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 2.4rem;
}

body {
  background: light-dark(var(--neutral-100), var(--neutral-900));
  color: light-dark(var(--neutral-800), var(--neutral-200));
  font-family: "AtkinsonHyperlegibleNextVF", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.background {
  --radius: 1px;
  background: light-dark(var(--neutral-100), var(--neutral-900));
  background-image: radial-gradient(circle, light-dark(var(--neutral-300), var(--neutral-800)) var(--radius), transparent 1px);
  background-position: center calc(1.2rem - var(--radius));
  background-size: 2.4rem 2.4rem;
  inset: 0;
  pointer-events: none;
  position: fixed;
  z-index: -1;

  &::before {
    background: linear-gradient(light-dark(var(--neutral-100), var(--neutral-900)), transparent 66.666%);
    content: "";
    inset: 0;
    pointer-events: none;
    position: fixed;
    z-index: -1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
}

main {
  overflow-x: hidden;
}

section:not(.cover) {
  display: flex;
  flex-direction: column;
  margin: 9.6rem auto;
  min-height: 50vb;
  position: relative;
}

section h2 {
  grid-column: span 12;
  margin-block-end: 3.2rem;
}

footer {
  min-height: 50vb;
}

.grid {
  display: grid;
  gap: var(--gutter);
  grid-template-columns: repeat(12, 1fr);
  margin-inline: auto;
  max-width: var(--max-width);
  place-self: center;
  width: calc(100% - calc(var(--margin) * 2));
}

.grid .grid {
  width: 100%;
}
