header {
  margin-block-end: 3.2rem;
  padding-block-start: 1.6rem;
}

header nav {
  align-items: center;
  display: flex;
  font-size: calc(1em * 10 / 12);
  grid-column: span 12;
  justify-content: space-between;
  position: relative;
}

/* Same as .screen-reader */
.skip-to-main {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.skip-to-main:focus {
  clip-path: none;
  height: unset;
  left: 1.6rem;
  overflow: initial;
  position: fixed;
  top: 1.6rem;
  width: unset;
  z-index: 1;
}

header nav .links {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

header nav .links a::after {
  background: currentColor;
  bottom: 0;
  content: "";
  display: block;
  height: 0.2rem;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
}

header nav a {
  align-items: center;
  align-self: stretch;
  color: inherit;
  display: flex;
  gap: .6rem;
  padding: .6rem;
  position: relative;
  text-decoration: none;
}

header nav .links a:first-child {
  margin-inline-end: 0.4rem;
  padding: 0;
  translate: -.2rem;

  &::after {
    display: none;
  }
}

header nav a .logo {
  padding: 0.4rem 0 0.4rem 0;
}

header .account {
  align-items: center;
  display: flex;
  gap: 1.6rem;
}

header .account .signed-email {
  color: light-dark(var(--neutral-700), var(--neutral-300));
  display: none;
  margin-inline-start: 1.6rem;
  max-width: 12ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

header nav .links a[aria-describedby="current"]::after {
  opacity: 1;
}

@media (hover: hover) {
  header nav .links a:not([aria-describedby="current"]):hover::after {
    background: light-dark(var(--neutral-300), var(--neutral-700));
    opacity: 1;
  }

  header nav a:hover .logo {
    translate: 0 0;
  }
}

@media (min-width: 480px) {
  header nav {
    font-size: 1em;
  }
}

@media (min-width: 640px) {
  header nav .links {
    gap: 0.6rem;
  }

  header nav .links a:first-child {
    margin-inline-end: 1.6rem;
    translate: 0;
  }
}

@media (min-width: 720px) {
  header .account .signed-email {
    display: block;
  }
}

@media (min-width: 960px) {
  header .account .signed-email {
    max-width: 24ch;
  }
}

@media (min-width: 1024px) {
  header {
    margin-block-end: 4.8rem;
  }
}

/* Force light theme if browser does not support light-dark rules */
@supports not (color: light-dark(black, white)) {
  header .account .signed-email {
    color: var(--neutral-700);
  }

  @media (hover: hover) {
    header nav .links a:not([aria-describedby="current"]):hover::after {
      background: var(--neutral-300);
    }
  }
}