.quiz {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.quiz fieldset {
  border: 1px solid light-dark(var(--neutral-300), var(--neutral-800));
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: .8rem;
  margin: 0;
  padding: 1.6rem;
  padding-block-start: 2.4rem;
  width: 100%;
}

.quiz fieldset:disabled .alternative:has(input:not([aria-describedby])),
.quiz fieldset:disabled legend {
  color: var(--neutral-500);
}

.quiz legend {
  font-weight: bold;
  padding-inline: .25em;
  width: fit-content;
}

.quiz .alternative {
  background: light-dark(var(--neutral-150), var(--neutral-850));
  border-radius: .8rem;
  padding-block: .8rem;
  padding-inline-end: calc( 2.4rem + 1.6rem);
  padding-inline-start: 1.2rem;
  position: relative;
}

.quiz .alternative [data-icon] {
  inset-block-start: .8rem;
  inset-inline-start: .8rem;
  position: absolute;
}

.quiz .alternative:has(input[aria-describedby]) {
  padding-inline-end: 1.2rem;
  padding-inline-start: calc( 2.4rem + 1.6rem);
}

.quiz .alternative:has(input[aria-describedby="correct"]) {
  background: linear-gradient( to right, light-dark(var(--success-200), var(--success-900)), light-dark(var(--success-300), var(--success-800)));

  & [data-icon] {
    color: light-dark(var(--success-700), var(--success-300));
  }
}

.quiz .alternative:has(input[aria-describedby="incorrect"]) {
  background: linear-gradient( to right, light-dark(var(--failure-200), var(--failure-900)), light-dark(var(--failure-300), var(--failure-800)));

  & [data-icon] {
    color: light-dark(var(--failure-700), var(--failure-300));
  }
}

.quiz fieldset:not(:disabled) label:not(:has(input:disabled)) {
  cursor: pointer;
}

.quiz label:has(input:focus-visible) {
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: 0.4rem;
}

.quiz fieldset:not(:disabled) label:has(input:checked) {
  box-shadow: 0 0 0 2px light-dark(var(--neutral-900), var(--neutral-100)) !important;
}

.quiz button {
  align-self: end;
}

@media (hover: hover) {
  .quiz fieldset:not(:disabled) label:not(:has(input:disabled)):hover {
    box-shadow: 0 0 0 2px light-dark(var(--neutral-400), var(--neutral-600));
  }
}