.quiz {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.quiz fieldset {
  border: 1px solid light-dark(var(--neutral-300), var(--neutral-800));
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: .8rem;
  margin: 0;
  max-height: min-content;
  padding: 1.6rem;
  padding-block-start: 2.4rem;
  width: 100%;
}

.quiz fieldset:disabled .choice:has(input:not([aria-describedby])),
.quiz fieldset:disabled legend {
  color: var(--neutral-500);
}

.quiz legend {
  font-weight: bold;
  padding-inline: .25em;
  width: fit-content;
}

.quiz .count.kicker {
  color: light-dark(var(--neutral-700), var(--neutral-300));
  line-height: 1.25;
  padding-inline: 0;
}

.quiz .choice {
  background: light-dark(var(--neutral-150), var(--neutral-850));
  border-radius: .8rem;
  padding-block: .8rem;
  padding-inline-end: calc( 2.4rem + 1.6rem);
  padding-inline-start: 1.2rem;
  position: relative;
}

.quiz .choice [data-icon] {
  inset-block-start: .8rem;
  inset-inline-start: .8rem;
  position: absolute;
}

.quiz .choice:has(input[aria-describedby]) {
  padding-inline-end: 1.2rem;
  padding-inline-start: calc( 2.4rem + 1.6rem);
}

.quiz .choice:has(input[aria-describedby="correct"]) {
  background: linear-gradient( to right, light-dark(var(--success-200), color-mix(in srgb, var(--success-900) 50%, var(--neutral-900))), light-dark(var(--success-300), var(--success-900)));

  & [data-icon] {
    color: light-dark(var(--success-600), var(--success-400));
  }
}

.quiz .choice:has(input[aria-describedby="incorrect"]) {
  background: linear-gradient( to right, light-dark(var(--failure-200), color-mix(in srgb, var(--failure-900) 50%, var(--neutral-900))), light-dark(var(--failure-300), var(--failure-900)));

  & [data-icon] {
    color: light-dark(var(--failure-600), var(--failure-400));
  }
}

.quiz fieldset:not(:disabled) label:not(:has(input:disabled)) {
  cursor: pointer;
}

.quiz label:has(input:focus-visible) {
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: 0.4rem;
}

.quiz fieldset:not(:disabled) label:has(input:checked) {
  background: linear-gradient( to right, light-dark(var(--info-200), color-mix(in srgb, var(--info-900) 50%, var(--neutral-900))), light-dark(var(--info-300), var(--info-900)));
  box-shadow: 0 0 0 2px light-dark(var(--neutral-900), var(--neutral-100)), inset 0 0 0 2px light-dark(var(--neutral-100), var(--neutral-900)) !important;
}

.quiz .button {
  align-self: end;
}

.quiz .button.primary {
  background-color: light-dark(var(--info-700), var(--info-700));
  text-shadow: 0 0 1em light-dark(var(--info-900), var(--info-900));
}

@media (hover: hover) {
  .quiz fieldset:not(:disabled) label:not(:has(input:disabled)):hover {
    box-shadow: 0 0 0 2px light-dark(var(--neutral-400), var(--neutral-600));
  }
}