:root:has(.theme-picker [value="light"]:checked) {
  --image-filter: invert(0);
  color-scheme: light;
}

:root:has(.theme-picker [value="dark"]:checked) {
  --image-filter: invert(1);
  color-scheme: dark;
}

.theme-picker {
  background: light-dark(var(--neutral-100), var(--neutral-900));
  border-radius: 999px;
  box-shadow: inset 0 0 0 1px light-dark(var(--neutral-300), var(--neutral-800));
  color: inherit;
  display: none;
  font-weight: 500;
  gap: 0.4rem;
  outline-offset: 0.4rem;
  overflow: hidden;
  padding: 0.4rem 0.4rem;
  position: relative;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
}

.theme-picker input {
  appearance: none;
  position: absolute;
  width: 0;
}

.theme-picker label {
  align-items: center;
  background: transparent;
  border-radius: 999px;
  color: light-dark(var(--neutral-300), var(--neutral-700));
  cursor: pointer;
  display: flex;
  gap: 0;
  padding: 0.4rem 0.4rem;
}

.theme-picker [data-icon] {
  height: 2rem;
  width: 2rem;
}

.theme-picker label:has(input:focus-visible) {
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
}

.theme-picker label:has(input:checked) {
  color: light-dark(var(--neutral-800), var(--neutral-100));
}

@media (hover: hover) {
  .theme-picker label:hover {
    color: light-dark(var(--neutral-800), var(--neutral-100));
  }
}

@media (min-width: 640px) {
  .theme-picker {
    display: flex;
  }
}

/* Force light theme if browser does not support light-dark rules */
@supports not (color: light-dark(black, white)) {
  .theme-picker label {
    color: var(--neutral-300);
  }

  .theme-picker label:has(input:checked) {
    color: var(--neutral-800);
  }

  @media (hover: hover) {
    .theme-picker label:hover {
      color: var(--neutral-800);
    }
  }

  /* Hide theme picker if browser does not support light-dark rules */
  .theme-picker {
    display: none;
  }
}