@font-face {
  font-display: swap;
  font-family: "AtkinsonHyperlegibleNextVF";
  font-style: normal;
  font-weight: 100 900;
  src: url("../../fonts/AtkinsonHyperlegibleNextVF-Variable.woff2") format("woff2 supports variations"),
       url("../../fonts/AtkinsonHyperlegibleNextVF-Variable.woff2") format("woff2-variations");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.1;
  margin: 0;
}

section h2 {
  margin-block-end: 3.2rem;
}

article *:is(h1, h2, h3, h4, h5, h6) {
  margin-block-end: .5em;
  margin-block-start: 1em;
}

h1 {
  font-size: var(--font-size-h1);
} 

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6);
}

p {
  font-size: var(--font-size-p);
}

small, .small {
  font-size: var(--font-size-small);
  letter-spacing: .01em;
}

.smaller, .kicker {
  font-size: var(--font-size-smaller);
  letter-spacing: .02em;
}

strong, b, th {
  font-weight: 600;
}

sup {
  line-height: 0;
}

.kicker {
  font-weight: 500;
  line-height: 1;
  padding-inline: 1.6rem;
  text-transform: uppercase;
  text-wrap: balance;

  /* Consider removing padding from this stylesheet */
}

/* Simple helper classes */

.center {
  text-align: center;
}

.balance {
  text-wrap: balance;
}

.pretty {
  text-wrap: pretty;
}