:root {
  color-scheme: light dark;

  --gutter: 2.4rem;
  --margin: 2.4rem;
  --max-width: 134.4rem;

  /* YlOrRd scheme from d3 or https://colorbrewer2.org */
  --primary-100: #ffffcc;
  --primary-200: #ffeda0;
  --primary-300: #fed976;
  --primary-400: #feb24c;
  --primary-500: #fd8d3c;
  --primary-600: #fc4e2a;
  --primary-700: #e31a1c;
  --primary-800: #bd0026;
  --primary-900: #800026;

  /* Greys scheme from d3 or https://colorbrewer2.org */
  --neutral-100: #ffffff;
  --neutral-200: #f0f0f0;
  --neutral-300: #d9d9d9;
  --neutral-400: #bdbdbd;
  --neutral-500: #969696;
  --neutral-600: #737373;
  --neutral-700: #525252;
  --neutral-800: #252525;
  --neutral-900: #000000;

  /* YlGn scheme from d3 or https://colorbrewer2.org */
  --success-100: #ffffe5;
  --success-200: #f7fcb9;
  --success-300: #d9f0a3;
  --success-400: #addd8e;
  --success-500: #78c679;
  --success-600: #41ab5d;
  --success-700: #238443;
  --success-800: #006837;
  --success-900: #004529;

  --tag-all: currentColor;
  --tag-essential: #e15759; /* red from `d3.schemeTableau10[2]` */
  --tag-conceptual: #f28e2c; /* orange from `d3.schemeTableau10[1]` */
  --tag-technical: #4e79a7; /* blue from `d3.schemeTableau10[0]` */
  --tag-personal: #59a14f; /* green from `d3.schemeTableau10[4]` */
  --tag-yet-to-exist-1: #af7aa1; /* purple from `d3.schemeTableau10[6]` */
  --tag-yet-to-exist-2: #ff9da7; /* pink from `d3.schemeTableau10[7]` */

  --font-family: "AtkinsonHyperlegibleNextVF", sans-serif;
}

html {
  font-size: calc((8 / 16) * 100%);
}

@media (min-width: 340px) {
  html {
    font-size: calc((9 / 16) * 100%);
  }
}

@media (min-width: 375px) {
  html {
    font-size: calc((10 / 16) * 100%);
  }
}
