:root {
  color-scheme: light dark;

  --gutter: 2rem;
  --margin: 2rem;
  --max-width: 134.4rem;

  /* YlOrRd scheme from d3 or https://colorbrewer2.org */
  --primary-100: #ffffcc;
  --primary-200: #ffeda0;
  --primary-300: #fed976;
  --primary-400: #feb24c;
  --primary-500: #fd8d3c;
  --primary-600: #fc4e2a;
  --primary-700: #e31a1c;
  --primary-800: #bd0026;
  --primary-900: #800026;

  /* Greys scheme from d3 or https://colorbrewer2.org */
  --neutral-100: #ffffff;
  --neutral-200: #f0f0f0;
  --neutral-300: #d9d9d9;
  --neutral-400: #bdbdbd;
  --neutral-500: #969696;
  --neutral-600: #737373;
  --neutral-700: #525252;
  --neutral-800: #252525;
  --neutral-900: #000000;

  /* Additional greys (midpoints) */
  --neutral-150: #f8f8f8;
  --neutral-850: #131313;

  /* Reds scheme from d3 or https://colorbrewer2.org */
  --failure-100: #fff5f0;
  --failure-200: #fee0d2;
  --failure-300: #fcbba1;
  --failure-400: #fc9272;
  --failure-500: #fb6a4a;
  --failure-600: #ef3b2c;
  --failure-700: #cb181d;
  --failure-800: #a50f15;
  --failure-900: #67000d;

  /* Greens scheme from d3 or https://colorbrewer2.org */
  --success-100: #f7fcf5;
  --success-200: #e5f5e0;
  --success-300: #c7e9c0;
  --success-400: #a1d99b;
  --success-500: #74c476;
  --success-600: #41ab5d;
  --success-700: #238b45;
  --success-800: #006d2c;
  --success-900: #00441b;

  /* Blues scheme from d3 or https://colorbrewer2.org */
  --info-100: #f7fbff;
  --info-200: #deebf7;
  --info-300: #c6dbef;
  --info-400: #9ecae1;
  --info-500: #6baed6;
  --info-600: #4292c6;
  --info-700: #2171b5;
  --info-800: #08519c;
  --info-900: #08306b;
  
  --tag-all: currentColor;
  --tag-fundamentals: #e15759; /* red from `d3.schemeTableau10[2]` */
  --tag-lecture: #59a14f; /* green from `d3.schemeTableau10[4]` */
  --tag-tutorial: #4e79a7; /* blue from `d3.schemeTableau10[0]` */
  --tag-yet-to-exist-0: #f28e2c; /* orange from `d3.schemeTableau10[1]` */
  --tag-yet-to-exist-1: #af7aa1; /* purple from `d3.schemeTableau10[6]` */
  --tag-yet-to-exist-2: #ff9da7; /* pink from `d3.schemeTableau10[7]` */

  --font-family: "AtkinsonHyperlegibleNextVF", sans-serif;
  --font-size-base: 1.8rem;

  /* Pentatonic scale extended from https://type-scale.spencermortensen.com/5/2/0/1em */
  --font-size-h1: 2em; /* 2^(1/5 * 5) */
  --font-size-h2: 1.7411011266em; /* 2^(1/5 * 4) */
  --font-size-h3: 1.5157165665em; /* 2^(1/5 * 3) */
  --font-size-h4: 1.3195079108em; /* 2^(1/5 * 2) */
  --font-size-h5: 1.148698355em; /* 2^(1/5 * 1) */
  --font-size-h6: initial;
  --font-size-p: 1em; /* 2^(1/5 * 0) */
  --font-size-small: .8705505633em; /* 2^(1/5 * -1) */
  --font-size-smaller: .7578582833em; /* 2^(1/5 * -2) */
}

@media (min-width: 480px) {
  :root {
    --gutter: 2.4rem;
    --margin: 2.4rem;
  }
}