.video-embed {
  padding: 56.25% 0 0 0;
  position: relative;
}

.video-embed iframe {
  background: #000000;
  border: 0;
  border-radius: .4rem;
  box-shadow: 0 0 0 1px light-dark(var(--neutral-300), var(--neutral-800));
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.video-progress-wrapper {
  display: flex;
  justify-content: end;
  width: 100%;
}

.video-progress {
  align-items: end;
  display: flex;
  flex-direction: column;
  gap: .4rem;
  margin-block: 1.6rem;
  position: relative;
  width: fit-content;
}

.video-progress-parts {
  align-items: center;
  display: flex;
  position: relative;
}

/* Arrow poiting down */
.video-progress-parts .playhead {
  background: light-dark(var(--neutral-900), var(--neutral-100));
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  display: block;
  height: .6rem;
  inset-block-start: .2rem;
  inset-inline-start: 0;
  position: absolute;
  translate: -50% 0%;
  width: 1.2rem;
  z-index: 1;
}

/* Processing spinner */
.video-progress-parts::before {
  animation: spin linear 1s infinite;
  animation-play-state: paused;
  border: .2rem solid light-dark(var(--neutral-400), var(--neutral-600));
  border-block-end-color: transparent;
  border-radius: 50%;
  content: "";
  display: none;
  height: 1.6rem;
  inset-block-start: 50%;
  inset-inline-start: -1.6rem;
  position: absolute;
  translate: -100% -50%;
  width: 1.6rem;
}

.video-progress.processing .video-progress-parts::before {
  animation-play-state: running;
  display: block;
}

@keyframes spin {
  to {
    rotate: 360deg;
  }
}

@media (prefers-reduced-motion: reduce) {
  .video-progress.processing .video-progress-parts::before {
    display: none;
  }
}

button.video-progress-part {
  align-items: center;
  border-radius: .4rem;
  display: flex;
  height: 3.2rem;
  padding-inline: 1px;
  width: fit-content;
}

.video-progress-part::before {
  content: "";
  display: block;
  height: .8rem;
  width: 1.6rem;
}

.video-progress-part:first-of-type::before {
  border-radius: .8rem 0 0 .8rem;
}

.video-progress-part:last-of-type::before {
  border-radius: 0 .8rem .8rem 0;
}

.video-progress-part[data-watched="false"]::before {
  background: light-dark(var(--neutral-400), var(--neutral-600));
  height: .5rem;
}

.video-progress-part[data-watched="true"]::before {
  background: light-dark(var(--success-600), var(--success-500));
}

.video-progress-percentage {
  color: light-dark(var(--neutral-700), var(--neutral-300));
  margin: 0;
}

@media (hover: hover) {
  .video-progress-part:hover {
    box-shadow: 0 0 0 2px light-dark(var(--neutral-400), var(--neutral-600));
    cursor: pointer;
  }

  .video-progress-part:active {
    box-shadow: 0 0 0 2px light-dark(var(--neutral-900), var(--neutral-100));
  }
}

/* Force light theme if browser does not support light-dark rules */
@supports not (color: light-dark(black, white)) {
  .video-embed iframe {
    box-shadow: 0 0 0 1px var(--neutral-300);
  }
}