.video-embed {
  padding: 56.25% 0 0 0;
  position: relative;
}

.video-embed iframe {
  background: #000000;
  border: 0;
  border-radius: .4rem;
  box-shadow: 0 0 0 1px light-dark(var(--neutral-300), var(--neutral-800));
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.video-progress {
  align-items: end;
  display: flex;
  flex-direction: column;
  gap: .4rem;
  margin-block: 1.6rem;
  width: 100%;
}

.video-progress-parts {
  align-items: center;
  display: flex;
}

.video-progress-part {
  align-items: center;
  border-radius: .4rem;
  display: flex;
  height: 3.2rem;
  padding-inline: 1px;
  width: fit-content;
}

.video-progress-part::before {
  content: "";
  display: block;
  height: .6rem;
  width: 1.6rem;
}

.video-progress-part:first-child::before {
  border-radius: .8rem 0 0 .8rem;
}

.video-progress-part:last-child::before {
  border-radius: 0 .8rem .8rem 0;
}

.video-progress-part[data-watched="false"]::before {
  background: light-dark(var(--neutral-400), var(--neutral-600));
  height: .4rem;
}

.video-progress-part[data-watched="true"]::before {
  background: light-dark(var(--success-600), var(--success-500));
}

.video-progress-percentage {
  color: light-dark(var(--neutral-700), var(--neutral-300));
  margin: 0;
}

@media (hover: hover) {
  .video-progress-part:hover {
    box-shadow: 0 0 0 2px light-dark(var(--neutral-400), var(--neutral-600));
    cursor: pointer;
  }

  .video-progress-part:active {
    box-shadow: 0 0 0 2px light-dark(var(--neutral-900), var(--neutral-100));
  }
}

/* Force light theme if browser does not support light-dark rules */
@supports not (color: light-dark(black, white)) {
  .video-embed iframe {
    box-shadow: 0 0 0 1px var(--neutral-300);
  }
}