.wave {
  display: flex;
  justify-content: end;
  left: 0;
  margin: 0 auto;
  max-width: calc(16.8rem * 4);
  position: absolute;
  top: 0;
  width: fit-content;
  width: 100%;
  z-index: -1;
}

.wave canvas {
  display: block;
  pointer-events: none;
  translate: 12.5% -25%;
  user-select: none;
  width: 100% !important;
}
