@import url(./imports/reset.css);
@import url(./imports/variables.css);
@import url(./imports/screen-reader.css);
@import url(./imports/type.css);
@import url(./imports/general.css);
@import url(./imports/background.css);
@import url(./imports/icons.css);
@import url(./imports/buttons.css);
@import url(./imports/switch.css);
@import url(./imports/header.css);
@import url(./imports/logo.css);
@import url(./imports/theme-picker.css);
@import url(./imports/wave.css);
@import url(./imports/cover.css);
@import url(./imports/courses.css);
@import url(./imports/course.css);
@import url(./imports/video.css);
@import url(./imports/quiz.css);
@import url(./imports/people.css);
@import url(./imports/sponsors.css);
@import url(./imports/news.css);
@import url(./imports/footer.css);
@import url(./imports/code.css);
@import url(./imports/sign-in.css);
@import url(./imports/article.css);
@import url(./imports/about.css);
@import url(./imports/certificate.css);