@import url(./imports/reset.css);
@import url(./imports/fonts.css);
@import url(./imports/variables.css);
@import url(./imports/screen-reader.css);
@import url(./imports/general.css);
@import url(./imports/icons.css);
@import url(./imports/buttons.css);
@import url(./imports/header.css);
@import url(./imports/logo.css);
@import url(./imports/theme-picker.css);
@import url(./imports/wave.css);
@import url(./imports/cover.css);
@import url(./imports/courses.css);
@import url(./imports/course-page.css);
@import url(./imports/people.css);
@import url(./imports/sponsors.css);
@import url(./imports/news.css);
@import url(./imports/coming-soon.css);
